---
layout : ecu
title : Agent - Steamers Exhibit
---

{% include breadcrumbs.html active="agent" %}

<h2>Agent</h2>

<p>
  The oldest Askew brother, Richard, operated a general store in Windsor and served as the BERTIE's agent. As the steamer's agent, Richard Askew sold the guano and other merchandise brought up the Cashie River. Most steamers had an agent serving as a fixed storefront for a mobile enterprise.
</p>

<br/><br/>
<table class="table">
  {% assign items = site.agent | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
