---
layout : ecu
title : "About the Askew Family"
---

{% include breadcrumbs.html active="" %}

<h2>About the Askew Family</h2>

<p>
Zephaniah Askew, a prominent farmer in Harrellsville, Hertford Co., North Carolina had a large family, which included four sons: Wilbur F., Edward Solon, Charles W., and Richard W. Two of the sons, Wilbur F. and Edward Solon entered into the transportation business in 1870 with a small steamboat. The steamer KALULA ran three times a week to Plymouth. Within a year, the brothers realized that a larger vessel would be profitable on the route. Prior to beginning construction on the new steamer's hull, Edward Solon Askew and Wilbur F. Askew visited E. H. Frazier and Company's machine shop in Baltimore, Maryland. At the machine shop the brothers reached an agreement with the shop's proprietors for the manufacture of a steam engine, boiler, and associated parts for a side-wheel steamboat.
</p>
<p>
After the brother's departure, Frazier and Company drew a plan of the engine arrangement and realized that the engine would not work well in the steamer the brothers planned to build. Not wanting to sell the Askews a poor design, Frazier and Company wrote the Askews asking their permission to modify the engine arrangement. The new contract specified exactly what E. H. Frazier and Company would supply for $900.00. The Askew Brothers responded to the new contract with a letter asking for further additions to the contract. E. H. Frazier and Company agreed to furnish the boiler smokestack, but refused to add items, such as a steam whistle, that were not in the original agreement. Frazier and Company finished the boiler by the end of April 1871 but the engine and other parts took considerably longer. After contracting with E. H. Frazier and Co. for the steam machinery, the Askews began building the steamer BERTIE on the banks of the Cashie River at Windsor.
</p>
<p>
Under the direction of Captain L. Thrower, the brothers used select pine for the steamer's hull and juniper, properly known as Atlantic White Cedar, for the its cabins. The Askew brothers did not carry the steamer's cost alone, Windsor merchant and jeweler Charles T. Harden owned half the steamboat while Edward Solon and Wilbur F. each owned a quarter share. Brothers Richard W. and Charles W. assisted with the steamboat's construction.A lengthy delay of one year and eight months separated the Askew's first contact with Frazier and Company and the machine shop's delivery of the BERTIE's engine in November 1872. On 26 November 1872, the Askews launched the steamboat and within two days installed its steam engine and boiler. The brother's were prevented from completing the boat until February 1873 because Frazier and Company was slow in delivering the last pieces of the steamer's machinery.
</p>
