---
layout : ecu
title : Connecting Steamers - Steamers Exhibit
---

{% include breadcrumbs.html active="connecting" %}

<h2>Connecting Steamers</h2>

<p>
  The BERTIE was only one part of a larger transportation network that joined the small towns of eastern North Carolina to the rest of the world. Steamers carried freight, mail, and passengers on the Roanoke River, Chowan River, and the Albemarle Sound, connecting to railroad and port centers in North Carolina and Virginia.
</p>

<br/><br/>
<table class="table">
  {% assign items = site.connecting | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
