---
layout : ecu
title : Construction - Steamers Exhibit
---

{% include breadcrumbs.html active="entrepreneur" %}

<h2>Entrepreneur</h2>

<p>
   Four sons of Zephaniah Askew, a prominent Harrellsville, North Carolina farmer, saw an opportunity to bring regular steamboat service to Windsor, North Carolina. The brothers ordered an engine and boiler from Baltimore and constructed a steamboat hull along the banks of the Cashie River. Each of the brothers found their respective roles in this new venture during the 1870s.
</p>
<p>
  <a href="askews_more.html">Read more about the Askews</a>
</p>
<br/><br/>
<table class="table">
  {% assign items = site.construction | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
