---
layout : ecu
title : Excursions - Steamers Exhibit
---

{% include breadcrumbs.html active="excursions" %}

<h2>Excursions</h2>

<p>
  Aside from its scheduled operation, the BERTIE carried Windsor and Plymouth
  residents on pleasure excursions around the Albemarle Sound region.
</p>

<br/><br/>
<table class="table">
  {% assign items = site.excursion | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
