---
layout: ecu
title: Home - Steamers Exhibit
---

{% include breadcrumbs.html active="home" %}

<h1>Steamers Digital Exhibit</h1>
<hr/>
<p>
  As steamers developed into a dependable form of transportation during the
  nineteenth century, they began to spring up on the rivers of coastal North
  Carolina and the Albemarle Sound. The Steamers Exhibit describes the
  construction of the Steamer BERTIE in 1871 by the Askew family, and steamboat
  navigation issues including the BERTIE's regular operations, excursions,
  repairs, and connecting vessels, as well information on another vessel built
  by the Askews.
</p>

<p>
   For ease of navigation within this exhibit, the digital resources have been grouped into categories:
</p>

<div class="row categories">
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="construction.html">Construction</a></div>
      <div class="panel-body">
        <a href="construction.html"><img class="img-responsive thumbnail" src="img/construction.jpg"/></a>
      </div>
    </div>

   </div>
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="operations.html">Regular Operations</a></div>
      <div class="panel-body">
        <a href="operations.html"><img class="img-responsive thumbnail" src="img/operations.jpg"/></a>
      </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="agent.html">Agent</a></div>
      <div class="panel-body">
        <a href="agent.html"><img class="img-responsive thumbnail" src="img/agent.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="excursions.html">Excursions</a></div>
      <div class="panel-body">
        <a href="excursions.html"><img class="img-responsive thumbnail" src="img/excursion.jpg"/></a>
      </div>
    </div>
  </div>
  <div class="row categories">
   </div>
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="repairs.html">Repairs</a></div>
      <div class="panel-body">
        <a href="repairs.html"><img class="img-responsive thumbnail" src="img/repairs.jpg"/></a>
      </div>
    </div>
   </div>
   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading color2"><a href="connecting.html">Connecting Steamers</a></div>
      <div class="panel-body">
        <a href="connecting.html"><img class="img-responsive thumbnail" src="img/connecting.jpg"/></a>
      </div>
    </div>
   </div>

   <div class="col-xs-12 col-sm-3">
     <div class="panel panel-primary">
      <div class="panel-heading"><a href="kalula.html">Kalula</a></div>
      <div class="panel-body">
        <a href="kalula.html"><img class="img-responsive thumbnail" src="img/kalula.jpg"/></a>
      </div>
    </div>

   </div>

</div>
<p>
<a href="read_more.html">Read More about the Steamers Exhibit</a>
</p>

<div class="well">
   <p>
      You can find thousands of additional documents about the history of East Carolina University digitized
      at in our <a href="http://digital.lib.ecu.edu">Digital Collections</a>.
   </p>
</div>
