---
layout : ecu
title : Kalula - Steamers Exhibit
---

{% include breadcrumbs.html active="kalula" %}

<h2>Kalula</h2>

<p>
  Prior to building the BERTIE, the Askews were involved with the construction and operation of the KALULA, another small side-wheel steamer. The Askew's found that the KALULA was too small for their plans and built the BERTIE larger.
</p>

<br/><br/>
<table class="table">
  {% assign items = site.kalula | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
