---
layout : ecu
title : Regular Operations - Steamers Exhibit
---

{% include breadcrumbs.html active="operations" %}

<h2>Regular Operations</h2>

<p>
   The BERTIE operated on a regular schedule carrying passengers and freight between Windsor and Plymouth. Initially the steamer only traveled on Monday, Wednesday, and Friday, but within a decade the BERTIE ran to Plymouth everyday but Sunday.
</p>

<br/><br/>
<table class="table">
  {% assign items = site.operations | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
