---
layout : ecu
title : "About the Steamers Exhibit"
---

{% include breadcrumbs.html active="" %}

<h2>About the Steamers Exhibit</h2>

<p>
During the 1870s and 1880s several members of the Askew family built and operated a small steamboat on the Cashie and Roanoke Rivers between the towns of Windsor and Plymouth. Carrying passengers, mail, and freight, the steamer BERTIE linked Windsor with the transportation network that connected the towns of the Albemarle region. Railroads had not yet reached Windsor; therefore the steamer played a vital economic and social role as the fastest and cheapest method of moving people and freight into and out of Windsor, the largest town in Bertie County. The BERTIE is an example of transportation development in the nineteenth century and the growing mechanization and urbanization of the American lifestyle.
</p>
<p>
In the Steamer Exhibit, the Askew manuscript collection serves as the starting point for an exploration of the Albemarle Sound transportation network. The manuscripts give a detailed picture of the construction and operation of the BERTIE, while supplementary information from local newspapers reveal further details of the BERTIE's operation and its connection with the other steamers operating in the region.
</p>
