---
layout : ecu
title : Repairs - Steamers Exhibit
---

{% include breadcrumbs.html active="repairs" %}

<h2>Repairs</h2>

<p>
  Wooden steamboats required a considerable amount of maintenance to keep running. Steam engines and boiler often required the attentions of a machine shop to effect repairs. In particular, the BERTIE's hull deteriorated quickly and was ultimately replaced.
</p>

<br/><br/>
<table class="table">
  {% assign items = site.repairs | sort: 'order' %}
  {% for item in items %}
  <tr>
    <td><label>{{item.customdate}}</label></td>
    <td>
      {% if item.pid %}
        <a href="http://digital.lib.ecu.edu/{{item.pid}}">{{item.title}}</a>
      {% else %}
        <a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}

</table>
