---
layout: ecu
title:  "[Excursion broadside for ST'R BERTIE], 16 June 1874"
customdate: "1874 June 16"
order: 1
---

{% include breadcrumbs.html %}

<h3>[Excursion broadside for ST'R BERTIE], 16 June 1874</h3>

<p>
The BERTIE's 5 o'clock A. M. departure assured that it arrived in Plymouth in time for its passengers and freight to catch the steamer departing Plymouth.
</p>
<div class="well">
  <label>Image from Broadside</label><br/>

<a href="../../img/BERT/3BERT001.jpg">
<img src="../../img/BERT/7BERT001.jpg">
</a><br/>


</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Steamer Bertie, June 16, 1874, [Windsor, NC], Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1-3os <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
