---
layout: ecu
title:  "The Excursion, Windsor Public Ledger, 25 April 1888"
customdate: "1888 April 25"
order: 4
---

{% include breadcrumbs.html %}

<h3>"The Excursion", <em>Windsor Public Ledger</em>, 25 April 1888</h3>

<p>
This article described in detail a trip down the Cashie River on the BERTIE. The trip was part of an excursion to visit the Albemarle Sound fisheries. Wilbur F. Askew was the captain even though he no longer owned part of the BERTIE. The writer's admiration for Wilbur Askew and crew is apparent in the glowing way they are described.
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
  From Windsor to Terrapin Point Fishery and return for half a dollar. This
  announcement filled the steamer Bertie on Wednesday morning of last week with
  as jolly and good natured [good-natured] a crowd of excursionists as ever
  trod a deck.It is a beastly hour, four o'clock, to get up to take a boat. But
  two things reconciled us to the effort. The first was that we were to spend
  the night at the American House where our few hours of sleep were bound to be
  comfortable and there was absolute certainty of not being left. The second
  was the fact that it was the Bertie we were going on and the simple thought
  of the attention of its gallant crew did much to reconcile us to the loss of
  our "forty winks."At 4:30 the Bertie broke anchor and began its descent of
  our serpentine river. The Cashie is the crookedest [most crooked], the
  deepest and the most beautiful river in America. It is especially beautiful
  and fragrant at this time of the year. Our first stop was at Austin, where
  we hoped to see our entertaining correspondent S. B. K., but we were informed
  that he was up the track hitching Fager's turtle to a train of logs, the locomotive being temporarily disabled. Austin is improving wonderfully and we learn that Mr. J. A. Church, who by the way owns the whole C. &amp; R. R. R. and this business now, will make extensive improvements in the way of terminal facilities and better provision for freight and passenger traffic.At Howard, which is a busy world within itself, we met Mr. E. E. Smith, the manager. He is a most courteous gentleman and manages the large property of the C. &amp; C. R. R. &amp; L. Co. with an ease and precision that is astonishing. Steele's Landing, Humbolt, Jacock's and other landings are passed. At Blanchard's, the home of the Snells and Tarkingtons, we see wonderful signs of improvement and prosperity. At Clover Grass Capt. John Williams is just getting ready for fishing.Sans Souci, while not on a boom of improvement, we are glad to say, holds its own. That is a good deal to say now a days.Mountain and Evans are fishing at the Ryan place.At 9:30 we reached Plymouth and the excursionists took the town. Plymouth changes occasionally, when a fire comes along and burns part of it up. We met several of the prominent businessmen there, Hoenthal, J. Norman, Melton Norman, Hampton, Brinkley, Butler, Piercey, Welch of the Monitor and others. We regret that Colonel Fitchett, former owner of the Sun is still indisposed. The swift and elegant S. A. McCall pulled out for Montrose just as we got to Plymouth. When her head gets pointed down the stream she just leaves one place and reaches the other at the same moment.A large number of the young people joined us at Plymouth which we left at 10, immediately on the arrival of the steamer Plymouth in charge of that prince of Captains, Sam Williams. Our first stop was but a short run to the celebrated Terrapin Point fishery, run by Mr. Jas. B. Nicholls. We took dinner here - at least we eat it here - we took it from home. Mr. Nicholls took charge of the party and ministered to their comforts. Philip Perry keeps books at the Point. He was rejoiced to see the Windsor folks and one or two, it might have been a half a dozen, of our girls nearly devoured him. At 2 o'clock we steamed for the light house [lighthouse], reached Plymouth, took on freight and soda water and put for home, and at 9 o'clock reached Windsor. Spent a delightful day and will go again when the Bertie excurts that way.NOTES.- Captain Will Askew can't be excelled as a steamboat man. We regret to hear that he soon takes charge of the McCall. He has run boats up this river twenty years.Major Pipkin is well again to the delight of his many friends who admire his qualities as a man and purser.The Bertie has had trouble about engineers for some time. In the person of Mr. Smith she has a first class man in every respect.Capt. Bill Webb can't be sneezed at as a turner of the circle and his ebony face in the pilot house [pilothouse] is a characteristic feature of Cashie navigation.Will Saunders came on board at Plymouth. He is as polite and agreeable in Plymouth as he was here and has captivated the town.Since the above was written we learn that Capt. Askew will continue on the Bertie. - ED.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The Excursion," <em>Windsor Public Ledger</em> (Windsor, NC), April 25, 1888.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
