---
layout: ecu
title:  "[BERTIE Unable to Coal], Windsor Public Ledger, 8 May 1889"
customdate: "1889 May 8"
order: 5
---

{% include breadcrumbs.html %}

<h3>[BERTIE Unable to Coal], <em>Windsor Public Ledger</em>, 8 May 1889</h3>

<p>
The BERTIE could not get enough coal to finish its excursion, a situation that would not have occurred in the 1870s. Early on in the BERTIE's exsistence the steamer burned wood, but sometime before May 1889 its boiler was converted to burn coal. Coal was a more efficient fuel and occupied less space aboard the BERTIE, but it was also more expensive and less plentiful than wood as it had to be imported from coalfields outside of North Carolina.
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
  Owing to the inability of the steamer Bertie to obtain coal at Howard as expected, she did not make the excursion to Plymouth Sunday. She went to Howard and returned.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[BERTIE Unable to Coal], <em>Windsor Public Ledger</em> (Windsor, NC), May 8, 1889.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
