---
layout: ecu
title:  "The C. P. P.'s in Plymouth, Windsor Albemarle Times, 11 December 1874"
customdate: "1874 December 11"
order: 2
---

{% include breadcrumbs.html %}

<h3>"The C. P. P.'s in Plymouth", <em>Windsor Albemarle Times</em>, 11 December 1874</h3>

<p>
This article is a recapitulation of the BERTIE's excursion to Plymouth, where the evenings entertainment was provided by the Cashie Phunny Phellows. Apparently everyone in Plymouth was very surprised at the quality of the entertainment provided by the Phunny Phellows.
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
On Tuesday last at 11 o'clock the Steamer Bertie left her wharf in Windsor, with the Cashie Phunny Phellows for Plymouth, to give one of their grand entertainments at night. We learn that the good people of Plymouth thought that our boys were going down and pick a little on the "old banjo," and that would be all. But anyhow they turned out in large numbers to see, so they could have the laugh on their neighbor Windsor. At seven o'clock Goelet's Hall was full of people, anxiously waiting to see the performance begin and from the way they laughed, they must have been sorry when the time came to break up. We learn that everybody in Plymouth was surprised to find out that our boy's could do so well. We would like to know which can beat dancing, "that thing," that was pulled out to the bag or the little boy in Plymouth. We hear "the thing" was some the best.The Phunny Phellows have been invited to attend a good many places, more than they can think of, as they intend giving us another round, during christmas hollidays [Christmas Holidays], with a bran-new programme [brand new program].
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The C. P. P.'s in Plymouth," <em>Windsor Albemarle Times</em> (Windsor, NC), December 11, 1874.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
