---
layout: ecu
title:  "Pleasant Trip, Windsor Albemarle Times, 16 June 1876"
customdate: "1876 June 16"
order: 3
---

{% include breadcrumbs.html %}

<h3>"Pleasant Trip", <em>Windsor Albemarle Times</em>, 16 June 1876</h3>

<p>
This article described the return of the BERTIE to Windsor after repairs. Upon returning the steamer was busy with several excursions. The BERTIE took passengers to the Wesleyan Female College Commencement in 1874 as well as 1876. Passengers could also take the BERTIE to the funeral of a Bertie County resident.
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
  Pleasant Trip
</p>
<p>
  Those wishing to leave Windsor for a few days and enjoy the hospitality of the citizens of Murfreesboro and the commencement exercises of the Wesleyan Female College can do so on next Monday. The steamer Bertie will leave Windsor at two o'clock A. M. on next Monday, touching at Plymouth at six o'clock and at all the landings along the Chowan. The fare for the round trip from Windsor (meals included) is $5. The polite and gentlemanly officers of the Bertie will do every thing [everything] for the comfort of their passengers and those who go with them may be assured of a comfortable and pleasant trip.The commencement exercises, the programme [program] of which has been given in a recent issue of the TIMES, are very interesting. If you want to hear good preaching, good essays, good music and see pretty girls, by all means go to the commencement.
</p>
<p>
  Masonic Excursion
</p>
<p>
  The masonic [Masonic] funeral of the late Calvin Hoggard will take place at his late residence on next Sunday 18 inst.The Steamer Bertie will leave Windsor promptly at 8 o’clock A. M. on that day for Jacocks [Jacock's] landing, for accommodation of all who may wish to go.
</p>
<p>
  Fare for round trip 35 cents.

</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Pleasant Trip", <em>Windsor Albemarle Times</em> (Windsor, NC), 16 June 1876</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
