---
layout: ecu
title:  "Steam Engine and Boiler for Sale at Half Price, Windsor Albemarle Times, 18 September 1874"
customdate: "1874 September 18"
order: 1
---

{% include breadcrumbs.html %}

<h3>"Steam Engine and Boiler for Sale at Half Price", <em>Windsor Albemarle Times</em>, 18 September 1874</h3>

<p>
The Askew's removed the steam engine and boiler from the steamer KALULA and offered it for sale. E. H. Frazier and Company of Baltimore built the engine and boiler eighteen months prior to the advertisement. An eight horsepower engine was probably insufficient to power the KALULA and the Askews likely wished to put in a new, stronger engine. Although the steam engine and boiler came from a steamboat it could also have been used to power a saw mill, cotton gin, or grist mill as E. S. Askew pointed out.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/HALF/3HALF001.jpg">
<img src="../../img/HALF/7HALF001.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
  STEAM ENGINE
</p>
<p>
  And Boiler for Sale
</p>
<p>
  AT HALF PRICE.
</p>
<p>
  The Engine and Boiler complete of the steamer Kalula is now offered for sale very low. It is a sprightly engine of eight Horse Power, has been used only 18 months, about as good as new, and cost in Baltimore $950, and will now be sold for the small sum of $500 and no less. This is an excellent chance for any one wishing to purchase an engine for a Gin or Grist Mill [Gristmill].
</p>
<p>
  Apply at once either in person or by letter to
</p>
<p>
  E.S. ASKEW
</p>
<p>
  Of Str. Bertie.
</p>
<p>
  Sep 18-2t
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Steam Engine and Boiler for Sale at Half Price," <em>Windsor Albemarle Times</em> (Windsor, NC), September 18, 1874.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
