---
layout: ecu
title:  "E. S. Askew, To Father [Zephaniah Askew], 17 December 1877"
customdate: "1877 December 17"
order: 4
---

{% include breadcrumbs.html %}

<h3>E. S. Askew, To Father [Zephaniah Askew], 17 December 1877</h3>

<p>
This letter describes the delivery of the KALULA to its new home on the Pamlico River.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/IHAV/3IHAV001.jpg">
<img src="../../img/IHAV/7IHAV001.jpg">
</a><br/><br/>
<a href="../../img/IHAV/3IHAV002.jpg">
<img src="../../img/IHAV/7IHAV002.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
  [Page 1]
</p>
<p>
  To: Mr. Zephaniah Askew, Harrellsville, Hertford Co., N. C.
</p>
<p>
  Form 36.
</p>
<p>
  Southern Express Company,
</p>
<p>
  Express Forwarders,
</p>
<p>
  Plymouth Dec 17th 1877
</p>
<p>
  Dear Father
</p>
<p>
  I have just returned from Bath or Washington where I carried the Str Kalula I got back this morning we had quite a nice trip over there with the exception of a little windy through the sounds, She is sold and delivered- I have got to go up to Windsor tonight and help Dick untill [until] Christmas- I will be up home
</p>
<p>
  [Page 2]
</p>
<p>
  next week, say about Wednesday nigh [night]- I hope you are making arrangment [arrangments] to come down here next year- Tell mamie she will have to keep her turkeys untill [until] after Christmas- The market seems to be glutted now your son.
</p>
<p>
  E. S. Askew
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>E. S. Askew to Father [Zephaniah Askew], December 17, 1877, Plymouth, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
