---
layout: ecu
title:  "Auction Sale Of Steam Engine &amp; Barge!, Windsor Albemarle Times, 29 January 1875"
customdate: "1875 January 29"
order: 2
---

{% include breadcrumbs.html %}

<h3>"Auction Sale Of Steam Engine &amp; Barge!", Windsor Albemarle Times, 29 January 1875</h3>

<p>
Apparently the KALULA's steam engine and boiler had not sold for $500.00. Now more desperate to unload the engine and boiler, the Askews decided to auction off the engine and boiler to the highest bidder. The Askews also planned to auction off a barge. Together, the barge, steam engine, and boiler could be turned into a small steamboat.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/T875a29/3T875a29.jpg">
<img src="../../img/T875a29/7T875a29.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
  AUCTION SALE
</p>
<p>
  OF
</p>
<p>
  Steam Engine and Barge!
</p>
<p>
  Will be sold to the highest bidder for CASH or SHORT CREDIT in Windsor, N. C. on SATURDAY 6th of Feb’y. 1875
</p>
<p>
  OHE [ONE] HANDSOME LITTLE BARGE
</p>
<p>
  of 15 tons burthen, newly rigged and painted with deck and hatch; also a magnificent
</p>
<p>
  8 HORSE POWER ENGINE AND BOILER
</p>
<p>
  complete for use, all new with exception of 18 months use. The Barge and machinery will be sold separate.
</p>
<p>
  An excellent chance for any one wishing to purchase a small Steam Boat[Steamboat], or for Gin or Grist mill[Gristmill]. Attend the sale and get a bargain
</p>
<p>
  E.S. ASKEW &amp; others
</p>
<p>
  Jan’y 29-2t
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Auction Sale Of Steam Engine &amp; Barge!," <em>Windsor Albemarle Times</em> (Windsor, NC), January 29, 1875.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
