---
layout: ecu
title:  "E.S. Askew, To Willie [Wilbur Askew], 10 July 1877"
customdate: "1877 July 10"
order: 3
---

{% include breadcrumbs.html %}

<h3>E.S. Askew, To Willie [Wilbur Askew], 10 July 1877</h3>

<p>
E. S. Askew's description of a steamer trip from Plymouth to Beaufort, North Carolina. The steamer he captained was likely the KALULA.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/WEAR/3WEAR001.jpg">
<img src="../../img/WEAR/7WEAR001.jpg">
</a><br/><br/>
<a href="../../img/WEAR/3WEAR002.jpg">
<img src="../../img/WEAR/7WEAR002.jpg">
</a><br/><br/>
<a href="../../img/WEAR/3WEAR003.jpg">
<img src="../../img/WEAR/7WEAR003.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
  [Page 1]
</p>
<p>
  Head Quarters <br/>
  South Atlantic Coast <br/>
  Beaufort N. C. <br/>
  July 10th 77
</p>
<p>
  Willie
</p>
<p>
  We are here at last We arrived here yesterday (Monday) We had quite a nice time coming down especilaly [especially] through Pamlico Sound- Wednesday night after we left Edenton we had quite a fresh Easterly wind against us down the Abemarle [Albemarle] Sound- We lay at Roanoke Marshes two days & night waiting for the weather to moderate We came the Ship Channel way through Pamlico
</p>
<p>
  [Page 2]
</p>
<p>
  &amp; Core Sounds without any Pilot at all untill [until] we were half through Core Sound- I give [gave] a man $2 to take me here- Now I think I could have done just as well as he did We were about 5 hours out of sight of land in Pamlico Sound. It is a large sheet of water- We were just 43 hours under steam in all from Edenton to this place besides going down to Roanoke Island to land a passenger for Nags head [Head]- We had to use salt water in our Boiler al [all] the way & it was a bad make out- as we had to keep the Surface Blow on all the time & it was nip and tuck to keep up water in the
</p>
<p>
  [Page 3]
</p>
<p>
  boiler- We blowed out yesterday after getting here and today we are taking on fresh water We will try it this Evening- It is perfectly splinded [splendid] down here in this salt water Nags Head isn't ???? to this- I wish you would come down in the Bertie the storm last Sept cut out Haurbor [harbor] Island Bar and now you can get 7 feet water over it- Frank is in his glory catching crabs, clams and other individuals The Hotel is not quite ready yet although there are some few travelers now- They expect an excursion down on Wednesday on the RR should any letter come for me send them down
</p>
<p>
  [Page 4]
</p>
<p>
  here to me &amp; write every week
</p>
<p>
  Truly
</p>
<p>
  E.S. Askew
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>E. S. Askew to Willie [Wilbur Askew], July 10, 1877, Beaufort, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
