<ul class="breadcrumb">

  {% if include.active == "home" %}
    <li class="active">Home</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
  {% endif %}

  {% if include.active == "construction" %}
    <li class="active">Construction</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/construction.html">Construction</a></li>
  {% endif %}

  {% if include.active == "operations" %}
    <li class="active">Regular Operations</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/operations.html">Regular Operations</a></li>
  {% endif %}

  {% if include.active == "agent" %}
    <li class="active">Agent</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/agent.html">Agent</a></li>
  {% endif %}

  {% if include.active == "excursions" %}
    <li class="active">Excursions</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/excursions.html">Excursions</a></li>
  {% endif %}

  {% if include.active == "repairs" %}
    <li class="active">Repairs</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/repairs.html">Repairs</a></li>
  {% endif %}

  {% if include.active == "connecting" %}
    <li class="active">Connecting Steamers</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/connecting.html">Connecting Steamers</a></li>
  {% endif %}

  {% if include.active == "kalula" %}
    <li class="active">Kalula</li>
  {% else %}
    <li><a href="{{ site.baseurl }}/kalula.html">Kalula</a></li>
  {% endif %}
</ul>
