---
layout: ecu
title:  "T. A. Perry, New Machine Shop in Plymouth, NC, undated"
customdate: "undated"
order: 1
---

{% include breadcrumbs.html %}

<h3>T. A. Perry, "New Machine Shop in Plymouth, NC", undated</h3>

<p>
T. A. Perry operated a machine shop in Plymouth, North Carolina beginning in the 1880s. While no documentary evidence suggests that T. A. Perry repaired or maintained the BERTIE' s steam machinery, it seems likely that he worked on the steamer given his shop's location.
</p>
<div class="well">
  <label>Image from Broadside</label><br/>

<a href="../../img/BROA/3BROA001.jpg">
<img src="../../img/BROA/7BROA001.jpg">
</a><br/>


</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"New Machine Shop in Plymouth, NC," Broadside, No Date, [Plymouth, NC].</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA/td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>North Carolina Collection, Uncataloged Material</td>
  </tr>
</table>
