---
layout: ecu
title:  "Machinery, Edenton Fisherman and Farmer, 23 August 1887"
customdate: "1887 August 23"
order: 4
---

{% include breadcrumbs.html %}

<h3>"Machinery", <em>Edenton Fisherman and Farmer</em>, 23 August 1887</h3>

<p>
The <em>Edenton Fisherman and Farmer</em> advertisement for the T. A. Perry machine shop suggested a date for the broadside entitled "New Machine Shop in Plymouth, NC."
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/F887h23/3F887h23.jpg">
<img src="../../img/F887h23/7F887h23.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
MACHINERY!
</p>
<p>
I AM NOW SELLING
</p>
<p>
Engines, Boilers, Saw Mills, Cotton Gins and Presses,
</p>
<p>
And Machinery of every description 30 per cent. lower than ever before. If you are in need of anything in this line write me for prices before buying.
</p>
<p>
LONG TIME GIVEN WHEN DESIRED.
</p>
<p>
I am also prepared to furnish Casting of all kinds promptly and at low prices.
</p>
<p>
Address: T. A. PERRY, PLYMOUTH, N.C.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Machinery," <em>Edenton Fisherman and Farmer</em> (Edenton, NC), August 23, 1887.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EdFF-1</td>
  </tr>
</table>
