---
layout: ecu
title:  "The Bertie, Windsor Albemarle Times, 16 June 1876"
customdate: "1876 June 16"
order: 2
---

{% include breadcrumbs.html %}

<h3>"The Bertie", <em>Windsor Albemarle Times</em>, 16 June 1876</h3>

<p>
This article described the return of the BERTIE to Windsor after repairs. Upon returning the steamer was busy with several excursions. It appears that the Askews cleaned up BERTIE before sending it on its annual trip to Murfreesboro.
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
  The Bertie
</p>
<p>
  This elegant Steamer arrived from Elizabeth City where she has been undergoing repairs. Columbus is now giving her the finishing touch with his paint brush [paintbrush] and will soon have her looking like new.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The Bertie," <em>Windsor Albemarle Times</em> (Windsor, NC), June 16, 1876.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
