---
layout: ecu
title:  "W. F. Askew, To Father [Zephaniah Askew], 18 August 1878"
customdate: "1878 August 18"
order: 3
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Father [Zephaniah Askew], 18 August 1878</h3>

<p>
When the BERTIE was built six years prior, its hull was assembled with
untreated yellow pine. Yellow pine is a hard and strong wood favored by
North Carolina boatbuilders because its high resin content prevents teredos
(also known as shipworms) from boring into the wood. (Michael Alford,
<em>Traditional Work Boats of North Carolina</em> (Beaufort : North Carolina Maritime
Museum, c1990), 42.) The BERTIE did not have to contend with teredos in the freshwater of the Cashie River, but rot became a problem as evidenced by this letter. Wooden hulled vessels do not rot as easily in saltwater as in freshwater because the salt preserves the wood. Wilbur F. Askew planned to rebuild the BERTIE with wood treated with a saltwater soak.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/WIND/3WIND001.jpg">
<img src="../../img/WIND/7WIND001.jpg">
</a><br/><br/>
<a href="../../img/WIND/3WIND002.jpg">
<img src="../../img/WIND/7WIND002.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
  OFFICE OF STEAMER BERTIE
</p>
<p>
  ROUTE: WINDSOR AND PLYMOUTH, N. C. <br/>
  EVERY MONDAY, WEDNESDAY AND FRIDAY.
</p>
<p>
  Windsor, N.C. Aug 18th 1878
</p>
<p>
  Dear Farther
</p>
<p>
  [Father] I promised to write you while in E City [Elizabeth City] and let you hear how I was getting along. Well I got there safe on Saturday as I left on Friday-night; I got my boat hauled out that day and am sorry to say I found her rotten we will have to nearly rebuild her. I carried some parts of the Engine to Norfolk to have it repaired and as I was there I came home Friday but will return to E. City [Elizabeth City] to-morrow [tomorrow] and stay untill [until] she is finished which will be about Saturday 24th I hope although there is considerable work to do to her, I am going to have her put in good order and then have her salted if we had had her salted when she was built it would have saved a thousand dollars in the long run. I think the rebuilding and refitting out this time will cost 800 or
</p>
<p>
  [Page 2]
</p>
<p>
  1000 dollars by the time she is ready to run on her route again which will probably be about the 10th of Sept. not sooner than that. but when I get through with her she will be as good as when new a boat [about] and in fact better as she will have additions to her.I will write to you again when I go back. I am going to my case tried while I am in E. City [Elizabeth City] and as soon as I can have a hearing I will let you know the result. If I can find Judge Brooks and Albertson at home. I will have it brought to a hearing next Friday 23rd.We are all well. Jennie Joins me in love to you all I shall return to-morrow [tomorrow] to E. City [Elizabeth City]
</p>
<p>
  Your Son
</p>
<p>
  W.F. Askew
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], August 18, 1878, Windsor, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
