---
layout: ecu
title:  "W. F. Askew, To Father [Zephaniah Askew], 21 January 1889"
customdate: "1889 January 21"
order: 9
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Father [Zephaniah Askew], 21 January 1889</h3>

<p>
This letter is about a fence line dispute with an neighbor. The letterhead reflects Wilbur F. Askew's position as captain of the steamer S. A. McCALL owned by the Jamesville and Washington Rail Road Company. W. F. Askew left the BERTIE in October 1888 to take charge of the S. A. McCALL. He had navigated on the Cashie River for seventeen years before switching to the S. A. McCALL. (<em>Windsor Public Ledger</em>, 3 October 1888.)
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/ALIN/3ALIN001.jpg">
<img src="../../img/ALIN/7ALIN001.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
  Jamesville and Washington R. R. CO., <br/>
of North Carolina
</p>
<p>
Jamesville, N. C., Jan 21st 1889
</p>
<p>
Dear Farther <br/>
[Father]I learn from Frank that Mr. Godwin is kicking about my Fence again. dont [don't] pay any attention to him about the matter at all. My Deed calls for, "On a line with the Episcopal Church Fence" and my fence is exactly where Mr. Godwin told Me to put it and I am not going to move it or let it be moved. Godwin is only trying to take advantage of My Absence and try to get it moved without my knowing it.I am getting along very well and will try and get to see you before long I recon [reckon] you are catching Herrings by this time, they caught some at Colerain ten days ago.
</p>
<p>
Your Son W. F. Askew
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], January 12, 1889, Jamesville, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
