---
layout: ecu
title:  "[Steamers CHOWAN and LOTA Schedules], Edenton Albemarle Enquirer 15 July 1886"
customdate: "1886 July 15"
order: 6
---

{% include breadcrumbs.html %}

<h3>[Steamers CHOWAN and LOTA Schedules], <em>Edenton Albemarle Enquirer</em>, 15 July 1886</h3>

<p>
Passengers arriving in Franklin, Virgina on the mail train could reach Plymouth, North Carolina on Mondays, Wednesdays, and Fridays. To reach Windsor, passengers would spend Monday, Wednesday, or Friday night in Plymouth and then board the BERTIE the following morning. The LOTA no longer served the Plymouth market as it had in 1874.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/A886g15/3A886g15.jpg">
<img src="../../img/A886g15/7A886g15.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
  [Engraving]
</p>
<p>
STEAMER CHOWAN
</p>
<p>
Capt. George H. Withey leaves Frankin [Franklin] on the arrival of the mail train, from Portsmouth, ou [on] Mondays, Wednesdays, and Fridays;
</p>
<p>
Arrives at Edenton, at 9 P. M.
</p>
<p>
" " Plymouth, " 11 P. M.
</p>
<p>
Returing to Edenton, " 1 A. M.
</p>
<p>
and Franklin, at 12 M., [P. M.] on Tuesdays, Thursdays and Saturdays.
</p>
<p>
J. A. Woodard, Agt., Edenton, N. C.
</p>
<p>
J. H. Bogart, Supt., Franklin, Va.
</p>
<p>
--
</p>
<p>
STEAMER LOTA,
</p>
<p>
Capt. J. R. Williams, leaves Frankli [Franklin] on the arrival of the Mail Train from Portsmouth, every Tuesday, Thursday, and Saturday for Murfreesboro, (touching at Winton, going and coming); and
</p>
<p>
RETURNING
</p>
<p>
Leaves Murfreesboro every Monday, Wednesday and Friday, connecting with the North bound [northbound] train for Portsmouth.
</p>
<p>
H.T. Lassiter, Agt [Agt.,] Murfreesboro
</p>
<p>
J.H. Bogart, Supt., Franklin, Va.
</p>
<p>
K-7-6*
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Steamers CHOWAN and LOTA Schedules], <em>Edenton Albemarle Enquirer</em> (Edenton, NC), July 15, 1886.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EdMisc-1</td>
  </tr>
</table>
