---
layout: ecu
title:  "W.F. Askew, To Father [Zephaniah Askew], 5 May 1873"
customdate: "1873 May 5"
order: 1
---

{% include breadcrumbs.html %}

<h3>W.F. Askew, To Father [Zephaniah Askew], 5 May 1873</h3>

<p>
Captain W. F. Askew, of the BERTIE, asked his father to send payment for the watch with Mr. Edwards, the ELLA's clerk. The ELLA passed Zephaniah Askew's home in Harrellsville, North Carolina on its route between Franklin, Virgina and Plymouth, North Carolina. W. F. Askew also inquired of his father as to whether he had received a shipment of guano sent to him by Dick (Richard W. Askew) the proprietor of the Askew store, which sold guano fertiizer to the area's farmers.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/ALIN/3ALIN001.jpg">
<img src="../../img/ALIN/7ALIN001.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
  [Page 1]
</p>
<p>
  To: Zephaniah Askew, Esq., Harrellsville, Hertford Co., N. C.
</p>
<p>
  Stmr Bertie
</p>
<p>
  May 5th 1873
</p>
<p>
  Dear Farther [Father]
</p>
<p>
  I drop a line this morning that you may here [hear] from us Solin has been sick ever since I was home but is now better this morning and talks of going aboard again to day [today] my cold is very bad yet but I am still agoing [going] I have sent Charlie Eerise??? a watch for $9.25 he will pay the money to you and I want you please to send it to me you can send it by Register [Registered] letter or fix it up in a letter and get Col. Wynns to hand it to Mr. Edwards the clerk on the "Ella" and tell him to bring it to me.
</p>
<p>
  Dick says please write him if you ever got your guano or not
</p>
<p>
  They are catching no fish yet in our waters they are selling high Business with us just now is very fair
</p>
<p>
  My love to all let us here[hear] from you
</p>
<p>
  Your Son
</p>
<p>
  W.F. Askew
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], May 5, 1873, Steamer Bertie, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
