---
layout: ecu
title:  "Nag's Head, Windsor Public Ledger, 4 July 1888"
customdate: "1888 July 4"
order: 8
---

{% include breadcrumbs.html %}

<h3>"Nag's Head", <em>Windsor Public Ledger</em>, 4 July 1888</h3>

<p>
This advertisement provided the details of the LUCY's route to Windsor's citizens. The LUCY stopped in Windsor only once a week, but persons traveling from Windsor could take the BERTIE to Plymouth where the LUCY stopped more frequently.
</p>
<div class="well">
  <label>Text from Advertisement</label><br/>

<p>
  NAG'S HEAD
</p>
<p>
On and after Tuesday, June 26
</p>
<p>
STEAMER LUCY
</p>
<p>
J.J.Jones, Master, will make regular trips to and from Nag's head. Leaving Windsor on first trip Tuesday, 26th at 1 a.m., touching at Plymouth, Edenton, and Elizabeth City. Leaving Elizabeth City at 3:30 p.m. on arrival N.S. train from Edenton; arrive at Nag's Head in time for supper. Leave Nag's Head Wednsday at 5 a.m., touching at Elizabeth City, Edenton, Plymouth and Roanoke river [River] landings as high up as Hamilton. Leave Hamilton Friday at 4 a.m., touching at all Roanoke river [River] landings and Edenton, then for Nag's Head direct. Leave Nag's Head 6 a.m. Saturday, for Elizabeth City direct, ariving in time to connect with the South bound [Southbound] train. Leaving Elizabeth City on arrival of Northbound train, will arrive at Nag's Head in time for dancing Saturday evening. Returning will leave Nag's Head Monday at 5 a.m. for Elizabeth City, Edenton, Plymouth, and Windsor. Through tickets will be sold on Tuesdays and Saturdays by N. S. road from Norfolk, Edenton, Plymouth, Windsor and all points reached by this road
and its connecting lines.
</p>
<p>
J.J. JONES,
</p>
<p>
Managing Owner Steamer Lucy.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Nag's Head," <em>Windsor Public Ledger</em> (Windsor, NC), July 4, 1888.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
