---
layout: ecu
title:  "[Steamer LUCY's Summer Schedule], Windsor Public Ledger, 13 June 1888"
customdate: "1888 June 13"
order: 7
---

{% include breadcrumbs.html %}

<h3>[Steamer LUCY's Summer Schedule], <em>Windsor Public Ledger</em>, 13 June 1888</h3>

<p>
Unlike the BERTIE, the LUCY operated on a much longer route connecting all of the Albemarle Sound's large towns.
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
  The steamer Lucy, Capt. J.J. Jones, will run between Windsor, Hamilton, Plymouth, Edenton and Elizabeth City to Nag's Head each week during the summer season.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Steamer LUCY's Summer Schedule], <em>Windsor Public Ledger</em> (Windsor, NC), June 13, 1888.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
