---
layout: ecu
title:  "[Chowan Sold], Windsor Public Ledger, 15 May 1889"
customdate: "1889 May 15"
order: 10
---

{% include breadcrumbs.html %}

<h3>[Chowan Sold], <em>Windsor Public Ledger</em>, 15 May 1889</h3>

<p>
The CHOWAN arrived in the Albemarle Sound area as a new steamer. Passengers still appreciated its large size and relative newness fourteen years after its introduction. Ultimately, the CHOWAN returned to the Albemarle Sound area as the NANTICOKE, the name of the steamboat company that took it off the Chowan River in 1889.
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
  The steamer Chowan of the Seaboad [Seaboard] Air Line has recently been sold to the Nanticoke Steam Boat Company, Baltimore, Md. She made her last trip here Friday night. She was the finest steamer that ever plied the water of the Roanoke, and will be sadly missed.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Chowan Sold], <em>Windsor Public Ledger</em> (Windsor, NC), May 15, 1889.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
