---
layout: ecu
title:  "Gurley Line, Windsor Public Ledger, 8 May 1889"
customdate: "1889 May 8"
order: 11
---

{% include breadcrumbs.html %}

<h3>Gurley Line, <em>Windsor Public Ledger</em>, 8 May 1889</h3>

<p>
The PIERREPONT began operating on the Cashie River in May 1889. It ran a route similar to the LUCY, except that it connected directly to Norfolk, Virginia through the Albemarle and Chesapeake Canal. The Gurley Line felt that its advantage lay in direct service between Windsor and Norfolk eliminating the frequent loading and unloading of freight.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/L889e08/3L889e08.jpg">
<img src="../../img/L889e08/7L889e08.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
  GURLEY LINE.
</p>
<p>
  Commencing Wednesday, May 14, '80
</p>
<p>
  STEAMER PIERREPONT
</p>
<p>
  will leave Norfolk, Va., every Wednesday at noon for Windsor and landings on the Cashie river, connecting at Austin for all stations. Returning will leave Windsor every Saturday. You will find the steamer regular and prompt. No transfer and careful handling. Lowest sales guaranteed. A portion of you shipments solicited.
</p>
<p>
  CHAS. GURLEY, Agent, Norfolk, Va. <br/>
  E.S DAIL, Agent, Windsor, N. C.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Gurley Line," <em>Windsor Public Ledger</em> (Windsor, NC), May 8, 1889.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
