---
layout: ecu
title:  "[Steamer LUCY Delayed], Windsor Public Ledger, 8 May 1889"
customdate: "1889 May 8"
order: 12
---

{% include breadcrumbs.html %}

<h3>[Steamer LUCY's Summer Schedule], <em>Windsor Public Ledger</em>, 13 June 1888</h3>

<p>
Steamers were frequently delayed on their route by mechanical breakdowns. To prevent these sometimes costly and even dangerous failures, conscientious steamboat owners regularly inspected and overhauled their vessels. Vessels were also repainted to maintain a good appearance and prevent the degradation of exposed wood and iron structures.
</p>
<div class="well">
  <label>Text from News Article</label><br/>

<p>
  The steamer Lucy was delayed in her regular trip here Friday and did not arrive until Sunday. She has been overhauled and repainted.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Steamer LUCY Delayed], <em>Windsor Public Ledger</em> (Windsor, NC), May 8, 1889.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
