---
layout: ecu
title:  "W. F. Askew, To Father [Zephaniah Askew], 31 March 1879"
customdate: "1873 March 31"
order: 4
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Father [Zephaniah Askew], 31 March 1879</h3>

<p>
Wilbur F. Askew became the temporary captain of the ORIOLE to secure the position for his brother Edward S. Askew (Solie). Solie had not yet earned the captain's license he needed to legally operate the ORIOLE. Apparently he was close to finishing as Wilbur believed that Solie would be running the ORIOLE even before the letter reached their father.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/ORIO/3ORIO001.jpg">
<img src="../../img/ORIO/7ORIO001.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
  Str. Oriole Jamesville, N.C.March 31st 1879
</p>
<p>
Dear Farther [Father],
</p>
<p>
As I am at leasure [leisure] this evening I will drop a few lines to let you hear from Me. I am at this time running the Str Oriole from Jamesville to Plymouth daily in connection with the Stmrs Chowan & Lota connecting with the Jamesville & Washington Rail Road. Captain Burbage has left the boat to take charge of the Gipsey and for the sake of getting this Job for Solie I took the Boat untill [until] he can get Licnses [licenses] and I can learn him to work her. but by the time this letter reaches you he will be in Charge and I will be back on the little Bertie. I am very anxious to get back. Jennie hated for me to leave so much I have an oppotunity [opportunity] to attend to the Bertie's affairs every night at Plymouth and Frank & Bill does the running. Well enough about Steam Boats. I am very anxious to hear from you all none of you every [ever] write I would never have know [known] whether Mr. Bauers Got well or died had I not happened to see some one from up there and I never have heard how you have gotten since you last attack I am not certain but think it likely that I will go to see you some time [sometime] in April. Fishing on the Roanoke has been a failure so far. The cause I suppose is owing to river being so low & so clear but Storm that raged here all day yesterday will probably send a freshet down. My love to all tell Mollie to write me if you cant [can't]. I like to hear from you all.
</p>
<p>
Your Son W.F. Askew
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], March 31, 1879, Str. Oriole, Jamesville, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
