---
layout: ecu
title:  "[Steamer for the Roanoke, Norfolk, and Baltimore Steamboat Company Advertisement], Edenton Albemarle Enquirer, 15 July 1886"
customdate: "1886 July 15"
order: 5
---

{% include breadcrumbs.html %}

<h3>[Steamer for the Roanoke, Norfolk, and Baltimore Steamboat Company Advertisement], <em>Edenton Albemarle Enquirer</em>, 15 July 1886</h3>

<p>
Steamers of the the Roanoke, Norfolk, and Baltimore Steamboat Company carried passengers up the Roanoke River above Plymouth. Since the line did not stop in Plymouth, Windsor passengers would have boarded the steamers in Edenton to travel west. The rail line at Williamston connected with the main north -- south rail line in North Carolina, the Wilmington and Weldon Railroad.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/SRNB/3SRNB001.jpg">
<img src="../../img/SRNB/7SRNB001.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
  [Engraving]
</p>
<p>
A Stm’r of the Roanoke, Norfolk &amp; Baltimore Steamboat Co., leaves Williamsto [Williamston] N, C, [N. C.] daily at 5 a, m., [5 A. M.,] arriving at Jamesville at 7:30 a. m., [A. M.,] and Edenton at 1 p. m. [P. M.]
</p>
<p>
Connecting at Williamston with Albemarle and Raleigh Rail Road, Jamesville with Jamesville and Washington Rail Road, and Edenton, with E. City &amp; Norfolk Rail Road.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Steamer for the Roanoke, Norfolk, and Baltimore Steamboat Company Advertisement], <em>Edenton Albemarle Enquirer</em> (Edenton, NC), July 15, 1886.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EdMisc-1</td>
  </tr>
</table>
