---
layout: ecu
title:  "Steamer Lota, Windsor Albemarle Times, 4 September 1874"
customdate: "1874 September 4"
order: 2
---

{% include breadcrumbs.html %}

<h3>"Steamer Lota", <em>Windsor Albemarle Times</em>, 4 September 1874</h3>

<p>
The steamer LOTA provided connecting service to the BERTIE's passengers and freight traveling to Norfolk.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/T874i04/3T874i04.jpg">
<img src="../../img/T874i04/7T874i04.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
  Tri-weekly Line from Portsmouth to Edenton and Plymouth, N.C. via Franklin, V.A.
</p>
<p>
  STEAMER "LOTA"
</p>
<p>
  OF THE BLACKWATER LINE WILL leave Franklin every Monda [Monday], Wednesday and Friday upon the arrival of the Mail Train from Portsmouth,
</p>
<p>
  Arriving at Edenton same day at 4 o’clock P.M.
</p>
<p>
  Returning will leave Plymouth same days as soon as her freight can be landed.
</p>
<p>
  The Steamer will stop at all regular Landings for Freight and passengers.
</p>
<p>
  Q. E. RAWLS
</p>
<p>
  Purser.
</p>
<p>
  Sept 4-1y
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Steamer Lota," <em>Windsor Albemarle Times</em> (Windsor, NC), September 4, 1874.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
