---
layout: ecu
title:  "Tri-weekly Line from Portsmouth to Edenton and Plymouth, N. C. via Franklin, VA., Windsor Albemarle Times, 17 December 1875"
customdate: "1875 December 17"
order: 3
---

{% include breadcrumbs.html %}

<h3>"Tri-weekly Line from Portsmouth to Edenton and Plymouth, N. C. via Franklin, VA.", <em>Windsor Albemarle Times</em>, 17 December 1875</h3>

<p>
Announcement of the CHOWAN's schedule.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/T875l17/3T875l17.jpg">
<img src="../../img/T875l17/7T875l17.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
  Tri-weekly Line from Portsmouth to Edenton and Plymouth, N. C. via Franklin, V. A. [Va.]
</p>
<p>
STEAMER "CHOWAN"
</p>
<p>
Of the BLACKWATER LINE WILL leave Franklin, every Monda [Monday], Wednesday and Friday upon the arrival of the Mail Train from Portsmouth,
</p>
<p>
Arriving at Edenton same day at 4 o’clock P. M. and Plymouth at 6 o’clock P. M.
</p>
<p>
Returning will leave Plymouth same days as soon as her freight can be landed.
</p>
<p>
The Steamer will stop at all regular Landings for Freight and Passengers.
</p>
<p>
C.B. HUDGINS,
</p>
<p>
Purser.
</p>
<p>
Sept -1y
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Tri-weekly Line from Portsmouth to Edenton and Plymouth, N. C. via Franklin, VA," <em>Windsor Albemarle Times</em> (Windsor, NC), December 17, 1875.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
