---
layout: ecu
title:  "E. H. Frazier & Co., To E. S. Askew & Bro., 2 May 1871"
customdate: "1871 May 2"
order: 5
---

{% include breadcrumbs.html %}

<h3>E. H. Frazier &amp; Co., To E. S. Askew &amp; Bro., 2 May 1871</h3>

<p>
This letter was E. H. Frazier &amp; Co.'s response to a letter from the Askews asking for items not included in the machinery contract. Frazier &amp; Co. planned to supply a smokestack for the boiler, but refused to supply a steam whistle or any other item not detailed in the contract.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/2F2A/32F2A001.jpg">
<img src="../../img/2F2A/72F2A001.jpg">
</a><br/>

<p><b>Transcription for the image above:</b></p>

<p>
Baltimore May 2, 1871<br/>
Messrs. E.S. Askew &amp; Bro.
</p>
<p>
Gentlemen,<br/>
We received your letter &amp; found enclosed an agreement which we neglected altogether as it didn't suit our Idies [Ideas] at the time and was put off writing from time to time but as far as that is concerned it dont [doesn't] amount to anything as we assure you we shall furnish all that we agreed upon in the first place. Your writing Calls for a steam whistle and to have every thing, all fixtures necessary to Put your Boat in running order which you know imbraces [embraces] a good many different things. to which we objected You mentioned that we had left out smoke stack which of course was a mistake on our part as we intend to furnish that. And as it has run so long &amp; the work very nigh Completed we thought it would not be necessary to write out a contract as we shall certainly do all that we agreed upon &amp; hope to give you entire satisfaction the Engine and Boiler with Stack will all be ready for shipment by the 17th of May and if you intend to Come on we would be pleased to see you here at that time as we intend to try both Engine &amp; Boiler before they leave our Shop hoping that this letter will prove satisfactory &amp; that we may hear from you soon.
</p>
<p>
We remain<br/>
Yours Most Respectfully<br/>
E.H. Frazier &amp; Co
</p>
<p>
P.S. The Boiler has been done for a week it is the Engine that has cost us so much work as we want to make a first class Job. 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>E. H. Frazier &amp; Co. to E. S. Askew &amp; Bro., May 2, 1871, Baltimore, MD, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>