---
layout: ecu
title:  "W. F. Askew, To Father [Zephaniah Askew], 28 November 1872"
customdate: "1872 November 28"
order: 8
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Father [Zephaniah Askew], 28 November 1872</h3>

<p>
This letter is about the launch of the BERTIE and the subsequent installation of its engine and boiler. Steamboats generally had their engines installed after being launched to minimize the vessel's weight while lauching.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/BOAT/3BOAT001.jpg">
<img src="../../img/BOAT/7BOAT001.jpg">
</a><br/><br/>
<a href="../../img/BOAT/3BOAT002.jpg">
<img src="../../img/BOAT/7BOAT002.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
Windsor, N.C.<br/>
Nov 28th 1872
</p>
<p>
Dear Farther<br/>
[Father]I have thought to write to you for several days but have been waiting to get our Boat in and get the Engine & Boiler in her we launched her Tuesday 26th she went in as pretty as heart could wish, she didnot [did not] strain herself at all we got the Engine & Boiler in to day [today] she has a beautifull [beautiful] set on the water & I think it will be very near Christmas when we get on the line there was a greate [great] many people to see her launched and would have been a greate [great] many more but it was a little rainy and also the Small Pox is in our Town and there is very little Visiting here now. No one can account where it came from it broke out in two of the best familys [families] in Town and they have not been Visiting anywhare [anywhere] nor they have had no one visiting them for a
</p>
<p>
[Page 2]
</p>
<p>
long while. Mrs Pugh and Miss Lucy Newby are the only caces [cases] as yet they both live just across the Street from Mr Webb's the ladies around Town had nearly all been to see them before they knew it, but still the people dont [don't] seem to apprehend any danger As for New [News] out side [outside] of Small Pox I have none worth noting we are all in fine health at this time including Dicks [Dick's] and Brother Charlie's family I have nothing more of any interest to write so I close
</p>
<p>
Your Son<br/>
W. F. Askew 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], November 28, 1872, Windsor, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>