---
layout: ecu
title:  "Permanent Enrollment No. 6, 17 February 1873"
customdate: "1873 February 17"
order: 10
---

{% include breadcrumbs.html %}

<h3>Permanent Enrollment No. 6, 17 February 1873</h3>

<p>
Wilbur Askew enrolled the BERTIE at Edenton's Customs House shortly after completing the steamer. Enrollment number number 6 was the sixth enrollment issued at Edenton's Customs House during 1873.
</p>
<div class="well">
  <label>Text and Image(s) from Form</label><br/>

<a href="../../img/ENR6/3ENR6001.jpg">
<img src="../../img/ENR6/7ENR6001.jpg">
</a><br/><br/>
<a href="../../img/ENR6/3ENR6002.jpg">
<img src="../../img/ENR6/7ENR6002.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
AN ACT OF CONGRESS OF THE UNITED STATES
</p>
<p>
Permanent
</p>
<p>
Form C.
</p>
<p>
[ship engraving]
</p>
<p>
OFFICIAL NUMBER<br/>
NUMERAL. LETTERS.
2.847
</p>
<p>
ENROLMENT [ENROLLENT], No. 6. (six)
</p>
<p>
________

</p>
<p>
Enrolment [Enrollment] in comformity to an act of Congress of the United States of America entitled "An Act for enrolling and licensing Ships or Vessels to be employed in the Coasting Trade and Fisheries, and for regulating the same," approved February 18, 1793, and of "An Act to regulate the admeasurement of Tonnage of Ships and Vessels of the United States," approved May 6, 1864.
</p>
<p>
Wilbur F Askew of Bertie County North Carolina
</p>
<p>
having taken or subscribed the oath required by the said Acts, and having sworn that he together with Charles T Harden and Edward S Askew of said County and State as each one third owners and
</p>
<p>
as citizens of the United States, sole owner of the ship or vessel called the Bertie of Edenton NC whereof
</p>
<p>
-----Wilbur F Askew-----
</p>
<p>
is at present Master, and as he hath sworn is a citizen of the United States, and that the said ship or vessel was built at Windsor North Carolina in the year 1872, as appears by Master Carpenter's Certificate, and Certificate of Admeasurement granted by Wm. B Haughton Special Deputy Collector And said Certificates ------ having certified that the said ship or vessel has Two decks and no mast, and that
<br/>
her length is Sixty-eight (68) 4/10 feet,
<br/>
her breadth Fourteen (14) 2/10 feet,
<br/>
her depth Four (4) 6/10 feet,
<br/>
her height--------------- /10 feet,
<br/>
that she measures Fourty Two (42) and 62/100th tons, viz:
</p>
<p>
Tons. 100THS.
<br/>
Capacity under tonnage deck. 23 48
<br/>
Capacity between decks above tonnage deck
<br/>
Capacity of inclosures on the upper, viz: (Three in number) 19 14
</p>
<p>
Total Tonnage 42 62
<br/>
March 26/83 Addition Made 13 36
<br/>
57 98
<br/>
Deduction tonnage Act Aug 5 1882 22 51
<br/>
Total tonnage 35 47
</p>
<p>
and that she is a Steamer has a Sharp head and a round stern.
</p>
<p>
And the said Wilbur F Askew having agreed to the description and admeasurement above specified, and sufficient security having been given, according to the Acts, the said Steamer has been duly enrolled at the Port of Edenton North Carolina
</p>
<p>
Given under my hand and seal, at the Port of Edenton in the District of Albermarle North Carolina this 17th day of February in the year one thousand eight hundred and seventy-three.
</p>
<p>
Charles Manning,<br/>
Naval Officer, Collector.<br/>
Deduct Tonage Act of Congress 5th of August 1882<br/>
57.98<br/>
Deduct Net 35.47<br/>
C. E. Robinson
</p>
<p>
[Page 2]
</p>
<p>
ENDORSEMENTS OF THE CHANGE OF MASTER.
</p>
<p>
----------
</p>
<p>
District of Albemarle, Port of Plymouth NC,<br/>
July 14, 1880.
</p>
<p>
Wm Webb having taken the oath required by law, is at present master of the within-named vessel, in lieu of W F Askew later master.
</p>
<p>
J E Jackson<br/>
Deputy Collector.
</p>
<p>
District of Albemarle, Port of Plymouth NC,<br/>
July 16, 1880.
</p>
<p>
W F Askew having taken the oath required by law, is at present master of the within-named vessel, in lieu of Wm Webb late master.
</p>
<p>
J E Jackson<br/>
Deputy Collector.
</p>
<p>
District of Albemarle, Port of Plymouth NC,<br/>
July 23,1880.
</p>
<p>
W Webb having taken the oath required by law, is at present master of the within-named vessel, in lieu of W F Askew, late master.
</p>
<p>
J. E. Jackson<br/>
Deputy Collector
</p>
<p>
District of Albemarle, Port of Plymouth NC,<br/>
August 23, 1880.
</p>
<p>
W F Askew having taken the oath required by law, is at present master of within-named vessel, in lieu of Wm Webb, late master.
</p>
<p>
J. E. Jackson<br/>
Deputy Collector
</p>
<p>
District of Albemarle, Port of Plymouth NC,<br/>
Sept 6, 1880.
</p>
<p>
Wm Webb having taken the oath required by law, is at present master of within-named vessel, in lieu of W F Askew, late master.
</p>
<p>
J. E. Jackson<br/>
Deputy Collector
</p>
<p>
District of Albemarle, Port of Plymouth NC,<br/>
Oct 6, 1880.
</p>
<p>
W F Askew having taken the oath required by law, is at present master of within-named vessel, in lieu of Wm Webb, late master.
</p>
<p>
J. E. Jackson<br/>
Deputy Collector
</p>
<p>
[Page 3]
</p>
<p>
Official Number<br/>
2847
</p>
<p>
(THE COAST.)
</p>
<p>
ENROLMENT [ENROLLENT],
</p>
<p>
No. 6. (Six)
</p>
<p>
Of the Steamer
</p>
<p>
CALLED THE
</p>
<p>
BERTIE
</p>
<p>
forty-Two 62/100 Tons.
</p>
<p>
ISSUED AT THE PORT OF
</p>
<p>
Edenton
</p>
<p>
DISTRICT OF
</p>
<p>
Albemarle NC
</p>
<p>
February 17th A.D., 1873.
</p>
<p>
Charles G Manning
</p>
<p>
Collector.
</p>
<p>
DATE OF SURRENDER:
</p>
<p>
26 March 1883
</p>
<p>
WHERE SURRENDERED:
</p>
<p>
Edenton, NC
</p>
<p>
CAUSE OF SURRENDER:
</p>
<p>
Increased in Tonage [Tonnage]
</p>
<p>
New Enrolment [Enrollment] issued
</p>
<p>
no. 2 Pag 73 Book V
</p>
<p>
C. E. Robinson<br/>
Collector.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Certificates of Registration and Enrollment Issued at Beaufort, Edenton, Elizabeth City, New Bern, Plymouth, Washington, and Wilmington, NC, 1815-1902," NARA Microfilm Publication M2034, Roll 6, Washington DC.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Un-cataloged</a></td>
  </tr>
</table>
