---
layout: ecu
title:  "E. H. Frazier &amp; Co., [Contract between Frazier &amp; Co. and Askew &amp; Bro.], 14 March 1871"
customdate: "1871 March 14"
order: 4
---

{% include breadcrumbs.html %}

<h3>E. H. Frazier &amp; Co., [Contract between Frazier &amp; Co. and Askew &amp; Bro.], 14 March 1871</h3>

<p>
This document is the contract drafted by E. H. Frazier and Co. for the steam engine and boiler. The steam piston was six inches in diameter with a twelve inch stroke. The vertical fire-tube boiler used fifty-five two-inch diameter pipes to move the boiler's combustion gases from the furnace through the boiler water and into the smokestack. The large surface area created by multiple pipes increased the transfer of heat from the combustion gases to the boiler water. The boiler likely supplied steam at a pressure of around 100 pounds per square inch (psi). The relatively small size of the steam engine necessitated using steam at high-pressure to efficiently power the steamboat.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/FACD/3FACD001.jpg">
<img src="../../img/FACD/7FACD001.jpg">
</a><br/>

<p><b>Transcription for the image above:</b></p>

<p>
Articles of agreement made and concluded this 14th day of March in the year of our Lord 1871. By and between E.H. Frazier &amp; Co. of the one part and Messrs. E.S. Askew &amp; Bro of the other part. Witnesseth [Witness] that the said E.H. Frazier &amp; Co for the Consideration hereinafter mentioned hath agreed and doth hereby covenant and agree to Build one Steam Engine 6 x 12 six by twelve with Shaft &amp; Journals Bearings, &amp; one Steam Boiler 30" dia [diameter] 6 1/2 ft high with 55 - 2" Tubes, and one Bed Plate also furnish one Steam Guage [Gauge], 1 Water Guage [Gauge], 3 Guge [Gauge] Cocks, one Pump and Safety valve together with 1 Pce [Piece] steam Pipe from Boiler to Engine all to be delivered on Board of Boat here in Baltimore City.
</p>
<p>
And be it further understood that the said Messrs. E.S. Askew &amp; Bro of the other part doth hereby agree to pay the said E.H. Frazier &amp; Co of the one part the sum of nine hundred ($900.00) dollars for said above mentioned work in payments of one hundred ($100.00) dollars Cash. Two hundred 200.00 dollars Ten days after signing of Contract and the balance Cash on delivery of work on Board of Boat in Baltimore. 
</p>

<p>
Signed<br/>
Seal<br/>
Seal<br/>
sign this &amp; return it if it suits your Idies [Ideas] &amp; we will sign one &amp; send it to you EHF&C
</p>
</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>E. H. F[razier] &amp; Co. to E. S. Askew &amp; Bro., March 14, 1871, [Baltimore, MD], Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>