---
layout: ecu
title:  "E. H. Frazier &amp; Co., To E. S. Askew &amp; Brother, 10 March 1871"
customdate: "1871 March 10"
order: 1
---

{% include breadcrumbs.html %}

<h3>E. H. Frazier &amp; Co., To E. S. Askew &amp; Brother, 10 March 1871</h3>

<p>
E. H. Frazier and Co. wrote to the Askews about changing the engine design after realizing that the engine arrangement the Askew brothers agreed to in Baltimore would not fit well in the vessel the Askews planned to build. Frazier and Co., mindful of the Askew's inexperience with steam engine design, offered an alternate engine arrangement that would fit better in the steamboat. The original engine configuration called for a vertical cylinder, which would have protruded through the steamer's deck. Frazier and Co. wanted to change the design to an inclined cylinder. The new design would cost Frazier and Co. more money to produce, but the higher cost would not be passed on to the Askews. Plan drawings included.
</p>
<div class="well">
  <label>Text from Autographed Letter Signed</label><br/>

<a href="../../img/FCSB/3FCSB001.jpg">
<img src="../../img/FCSB/7FCSB001.jpg" alt="Page 1 of letter from E. H. Frazier &amp; Co. to E. S. Askew &amp; Brother, March 10, 1871">
</a><br/><br/>
<a href="../../img/FCSB/3FCSB002.jpg">
<img src="../../img/FCSB/7FCSB002.jpg" alt="Page 2 of letter from E. H. Frazier &amp; Co. to E. S. Askew &amp; Brother, March 10, 1871">
</a><br/><br/>
<a href="../../img/FCSB/3FCSB003.jpg">
<img src="../../img/FCSB/7FCSB003.jpg" alt="Page 3 of letter from E. H. Frazier &amp; Co. to E. S. Askew &amp; Brother, March 10, 1871">
</a><br/><br/>
<a href="../../img/FCSB/3FCSB004.jpg">
</a><img src="../../img/FCSB/7FCSB004.jpg" alt="Page 4 of letter from E. H. Frazier &amp; Co. to E. S. Askew &amp; Brother, March 10, 1871">
<br/>
<p>
<b>Transcription for the images above:</b>
</p>

<p>
Baltimore March,10, 1871<br/>
Messrs. E.S. Askew &amp; Bro.
</p>
<p>
Gents, Yours of the 6th inst came duly to hand, also one hundred ($100.00) dolls [dollars] to comence [commence] work. please except [accept] our thanks &amp; this an acknowledgement of receipt for the one hundred dolls [dollars] ($100.00)
</p>
<p>
Gents, Since you was here we have given this thing our particular attention and examined into all points regarding the same and must say that we have condemned our first plan for your benefit, as we want to give you entire satisfaction and a better job, one which will it is true cost us a more money to put up, but we are in hopes will influence more work for us in your section of the country and benefit you at same time. as I told you when you was here that I would get up a set off [of] drawings &amp; then I would be able to see all the points, which I did, &amp; hope that our view of the case will please you. as we are working for you we are compelled to do as you order but as you said you had not much experience in a thing of that kind we take the liberty of making the proposition to you and shall proceed at once to build an Engine &amp; Boiler on our plan, with the understanding that you have the priviledge [privilege] of countermanding the order of our plan &amp; to proceed with the Engine that you saw when here. but we think that when you see the faults connected with the Engine (for that purpose) we first concluded on I hope you will say as we do that our plan is far superior but a little more costly &amp; will answer your purpose better in every respect as we deal fairly with every one [everyone] and especially you folks, being entire strangers to us.over
</p>
<p>
[Page 2]
</p>
<p>
You may possibly think that you having excepted [accepted] our price on the first plan it would be an object in us in condemming [condemning] it and substitute a cheaper plan, but as I said before when the Engine is done we want it to prove satisfactory which you will acknowledge when you see both plans pointed out to you, which you will see at a glance that the one we propose is dicidelty [decidedly] the best We would not propose a thing of this kind if we knew that you understood all about machinery because it would be foolish in us doing so. as it is I think you will give us credit for studeing [studying] your own Interests as well as ours After I had made the drawings I saw all the difficulty as I said before and will now explain the first Engine which we will call no 1 Engine to ellustrate [illustrate] &amp; our plan the no 2 Engine.
</p>
<p>
No 1 Engine upright will stand about 5 1/2 to 5 ft 8" high which is entirely to [too] high according to scetch [sketch] of your boat it would make it Top heavy for the beam of Boat and cause her to roll. the lowest we could possibly bring it down to would be 5 1/2 feet and your deck only being 36" inches would sit the Engine No 1 2 1/2 feet above the upper deck or housing which in our estimation would not work well at all. and which we could not see at a glance when we looked at the one in the shop which is 5 1/4 Bore and 6 in stroke as it Evan [Even] deceived us untill [until] we laid the size you wanted down on paper and of course the thing showed itself at a glance. I will now refer you to drawings of both no 1 and no 2 Engine on opposite page.
</p>
<p>
[Page 3]
</p>
<p>
[Two Drawings]
</p>
<p>
according to your scetch [sketch] of Boat you will see at once that Engine No l would be way above of upper deck the Engine &amp; Boiler no 1 both being high up will naturely [naturally] cause her to roll by the least sea way In Engine &amp; Boiler No 2 you see the difference. The Engine is set down on an incline attached to Boiler &amp; Bottom of Boat throwing all the weight towards the Bottom.
</p>
<p>
[Page 4]
</p>
<p>
there is still another point to which I would call your attention the Engine you stated size of 6 by 12, now I would say that our plan will have a cylinder 6in inches in Bore &amp; 12 inches stroke which makes a cylinder 6in by 15 which will give more power &amp; do more work with the same Boiler you ordered, having stated all facts I will now bring my letter to a close. hoping that you may be well satisfied with our view of the case.
</p>
<p>
We remain<br/>
Yours Most Respectfully<br/>
E. H. Frazier &amp; Co
</p>
<p>
P.S.<br/>
I wish you to understand by this that we will proceed at once on our plan of Engine No 2. but if it should not suit your Idies [Ideas] please telegraph to us without delay the word. (Stop) and then we will stop all operations untill [until] we hear from you by letter write us anyhow on the receipt of this (by return mail) the Boiler we will not make any alterations unless we may make it wider but will proceed to build it at once without delay. If this letter should prove satisfactory we will send you on a Contract duly signed with all particulars please send us a complete drawing Respectfully Yours &amp;c
</p>
<p>
E.H. Frazier &amp; Co<br/>
132 &amp; 134 Thames St.<br/>
Baltimore Md.
</p>
<p>
P.S.<br/>
I want you to understand that Engine No 2 will not cost you any more than our agreement on No 1 $900.00<br/>
EHF&amp;Co
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>E. H. Frazier & Co. to E. S. Askew & Brother, March 10, 1871, Baltimore, MD, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
