---
layout: ecu
title:  "[Envelope from E. H. Frazier &amp; Co., East-Baltimore Iron and Brass Works], 10 March 1871"
customdate: "1871 March 10"
order: 2
---

{% include breadcrumbs.html %}

<h3>[Envelope from E. H. Frazier &amp; Co., East-Baltimore Iron and Brass Works], 10 March 1871</h3>

<p>
The images on the envelope include several types of valves, a spigot, and a ship's capstan.
</p>
<div class="well">
  <label>Text from Manuscript</label><br/>

<a href="../../img/FRZE/3FRZE001.jpg">
<img src="../../img/FRZE/7FRZE001.jpg" alt="Envelope from E. H. Frazier &amp; Co.">
</a><br/>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>E. H. Frazier &amp; Co East-Baltimore Iron and Brass Works, Envelope, March 10, 1871, Baltimore, [MD], Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>