---
layout: ecu
title:  "C. W. Askew, To Father, Sir [Zephaniah Askew], 11 November 1872"
customdate: "1872 November 11"
order: 7
---

{% include breadcrumbs.html %}

<h3>C. W. Askew, To Father, Sir [Zephaniah Askew], 11 November 1872</h3>

<p>
This is a letter about fitting the machinery in the BERTIE. Edward S. (Solen)(Sole) and Wilbur operated the steamer KALULA, carrying freight from Plymouth to Windsor, while the BERTIE was under construction. Charles W. used the word "strikeing" in his letter. The letter's context suggests that the word means "working."

</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/FSIR/3FSIR001.jpg">
<img src="../../img/FSIR/7FSIR001.jpg">
</a><br/><br/>
<a href="../../img/FSIR/3FSIR002.jpg">
<img src="../../img/FSIR/7FSIR002.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
Windsor Nov 11th 1872
</p>
<p>
Father, Sir
</p>
<p>
I think that you would like to hear from us. I hav [have] got over my Spel [Spell] of Chils [Chills] that was on me when I was up to your place. I am now in Windsor Strikeing on the new Boat, we hav [have] just got the machean [machine] friday and is now fitting in the Shaf [Shaft] and wheel, and getting reddy [ready] to lanch [launch], we will, if the wather [weather] holes [holds] open, lanch [launch] the Last part of this week, Sum [Some] four days from date I suppose,
</p>
<p>
I had quite a hot fevor [fever] the Evening that I left up their [there] but I met with Richar [Richard] and
</p>
<p>
[Page 2]
</p>
<p>
Solen on the Boat and the [they] helped me a long [along] So when I got home I went to doctring [doctoring] and was well in three or four days, Jake was home down kicking and roleing [rolling] and the doctor poreing [pouring] drugs down him, but he has got patched up and is back to windsor and Seams [Seems] rite [right] lively the remainder of my family is well, and I hope we will all will keep well the Ballanc [Balance] of This winter, Sole & Wilber has got all they can do, they hav [have] to make a trip every day to keep up their freight, Richar has got a very larg [large] Stac [Stack] of goods and is Selling good meny [many] color. I must close and reman [remain] your
</p>
<p>
C.W. Askew 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>C. W. Askew to Father, Sir [Zephaniah Askew], November 11, 1872, Windsor, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>