---
layout: ecu
title:  "E. H. Frazier &amp; Co., To E. S. Askew &amp; Bro., 11 March 18711"
customdate: "1871 March 11"
order: 3
---

{% include breadcrumbs.html %}

<h3>E. H. Frazier &amp; Co., To E. S. Askew &amp; Bro., 11 March 1871</h3>

<p>
This is an addendum to the 10 March 1871 letter about another steamboat, the GREAT WESTERN, with an engine similar to plan No. 2.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/FtoA/3FtoA001.jpg">
<img src="../../img/FtoA/7FtoA001.jpg">
</a><br/>

<p><b>Transcription for the image above:</b></p>

<p>
EH Frazier &amp; Co.<br/>
East Baltimore Iron and Brass Works, 132 and 134 Thames St. Baltimore To: E. S. Askew &amp; Bro., Harrellsville, Hertford County, N. C.
</p>
<p>
Baltimore March 11, 1871
</p>
<p>
Since I closed your letter we had to repair a small steamer called the great western and is just such a nother [another] boat as you proposed to build only she is sharp at both Ends. and has got an Engine in her on the plan of No 2 that we proposed to make for you and if I had once thought of it when you was here I could have showed you the Boat
</p>
<p>
Respectfully Yours<br/>
E.H. Frazier &amp; Co.<br/>
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>E. H. Frazier &amp; Co. to E. S. Askew &amp; Bro., March 11, 1871, Baltimore, MD, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>