---
layout: ecu
title:  "W. F. Askew, To Father [Zephaniah Askew], 8 July 1872"
customdate: "1872 July 8"
order: 6
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Father [Zephaniah Askew], 8 July 1872</h3>

<p>
This letter described the Askew brothers progress with the BERTIE's construction. E. H. Frazier and Co. also built the KALULA's engine. Wilbur F. wrote that the KALULA's engine cost $1900.00, however this may not be true. In the 18 September 1874 issue of the <em>Windsor Albemarle Times</em> Edward Solon Askew advertised the sale of the KALULA's boiler and steam engine for $500.00. He mentioned that the price was considerably less than the $950.00 purchase price paid 18 months ago when the KALULA was built. The symbols ----- indicate that the document was damaged and one or several words could not be read.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/MACH/3MACH001.jpg">
<img src="../../img/MACH/7MACH001.jpg">
</a><br/><br/>
<a href="../../img/MACH/3MACH002.jpg">
<img src="../../img/MACH/7MACH002.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
Stmr "Kalula"<br/>
Windsor N. C.<br/>
July 8th 1872
</p>
<p>
Dear Farther<br/>
[Father],Perhaps you would like to hear from us how we are progressing with our work on new Stmr &amp; c we are getting ---- we are only working ---- men on her though at this time Brother Charlie don't seem to come the Boat will all be set up I expect when he gets here, we are going to have quite a nice Boat this time she has a beautifull [beautiful] model and will have a very powerfull [powerful] machinery our Engine &amp; Boiler is be built by the same men that made the Kalula's at a cost of $1900.00 it will a large Boiler having a four foot Furnace the Boat is bound to run we are putting her up with the best of timber that can be had all of Cabins will be Junipir [Juniper]
</p>
<p>
[Page 2]
</p>
<p>
and her bottom scelect [select] Pine cleare [clear] of Knots Capt Thrower this Boats builder says that he is going to Steam her down the Cashie before the last day of Sept but I dout [doubt] itThere are no Stock Holders yet except Solie Harden &amp; Myself there are plenty who are anxious to take Stock but we dont [don't] want them if we can do without There are two different parties who are trying to get an opposition on here but I have no fears as I know the people in Windsor ---- us out I expect to come up in this month perhaps about the 24th this leaves all in fine helth [health] hoping it may find all the Same I Close
</p>
<p>
Your Son<br/>
W.F. Askew 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], July 8, 1872, Stmr Kalula, Windsor, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>