---
layout: ecu
title:  "C. W. Askew, To Father [Zephaniah Askew], 12 January 1873"
customdate: "1873 January 12"
order: 9
---

{% include breadcrumbs.html %}

<h3>C. W. Askew, To Father [Zephaniah Askew], 12 January 1873</h3>

<p>
Charles W. Askew was more interested in fishing than the BERTIE, but he did help with its construction. In this letter he wrote about building a lifeboat and completing the steamer's cabins. The brother's frustration with the slow delivery of Frazier and Company's machinery is evident.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/MNOT/3MNOT001.jpg">
<img src="../../img/MNOT/7MNOT001.jpg">
</a><br/><br/>
<a href="../../img/MNOT/3MNOT002.jpg">
<img src="../../img/MNOT/7MNOT002.jpg">
</a><br/><br/>
<a href="../../img/MNOT/3MNOT003.jpg">
<img src="../../img/MNOT/7MNOT003.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
Plymouth Janu 12th 1873
</p>
<p>
Dear Father,<br/>
Yours of the 8th is at hand and the contence [contents] notics [noted] I am much pleas [pleased] to hear that your helth [health] is on the improve, and I hope it will continue to improve for you and I hav [have] had a plenty of Chiles [Chills] for one season, my helth [health] is gragley surviving from my several attacks of Chiles [Chills]. I would be glat [glad] if I could hav [have] made you a visit at this time but my bisness [business] is yet in a condition that I cannot leav [leave] but soon as I can get through with the new Steam Boat I will make a visit to see you and the family we are pesterd [pestered] to finish our new Boat for all the mashienry [machinery] is not hear [here] yet and I hav [have] bin [been] Buildin [Building] a life Boat for the last week, the boat is all dun [done] to put in winder [window] and hanging the doors, The Steam pipes is to connec [connect] and Smoke Stac [Stack] is to connec [connect] before we are reddy [ready] to Steam, we ar [are]
</p>
<p>
[Page 2]
</p>
<p>
minus of sum [some] off thir [their] material though I think they say that it is shiped [shipped] it will be at least two weeks before she is compleat [complete],you seem to be desirus [desirous] of my moving to Zepheys [Zephey's] place, I kno [know] it is the duty of sum [some] off [of] we [us] boys to stay a round [around] you to assist you, and I would like verry [very] much if I was their [there] but it dus [does] cost so much to tar [tear] up and move a distant [distance], and an othe [another] obstickle [obstacle] in the way if I cum [come] to that place, I would hav [have] to go to Farming and that would caus [cause] me to go in debt for a years [year's] provision and it mite [might] keep me behind all the time, as to cum [come] up their [there] to depend on working for people in Heartford [Hertford] county for a living, it would be a nusants [nuisance], I am shure [sure] I would hav [have] to suffer, I am tired of old heartford [Hertford] for that caus [cause], I dont [don't] kno [know] but it will better for me to keep strikeing [working] on in old plymouth [Plymouth] as long as I can make out to liv [live] and when poverty cums [comes] to my door I will try and slip out and go sum [some] whers [where] elcs [else] and seek a gain in my useal [usual] way. I am making slow progress on my Fike [Fyke] for the want of Twine
</p>
<p>
[Page 3]
</p>
<p>
I got a merchant to order me sum [some] Twine and it has not cum [come] yet, so its [it's] getting late for me to fit out down hear [here], though if I can get old sain [seine] it will do for hidg [hedge] we hav [have] a man in Plymouth fitting out one for the Sound at the Light house, he has 1000 yards of hidg [hedge], to his it is set like a one heart ware [weir], hidging [hedging] from each whing [wing] of the Pound forming something of a ve ["V"] (drawing) the place you was speaking the lower end of the Ilant [Island] creak [Creek], I think will be a good place and if I fail hear [here] I will Joind [Join] you with one up their [there],, Though if I was to get a good price to fis [fish] with sum boddy [somebody] I mite [might] take a notion for that kind of fishing I hav [have] not settled down on no purpminant [permanent] thing as yet. this leavs [leaves] us all well. I will try to cum [come] up and see you Soon if I can I must remain your Son
</p>
<p>
C. W. Askew 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>C. W. Askew to Father [Zephaniah Askew], January 12, 1873, Plymouth, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>