---
layout: ecu
title:  "Green Tea, Windsor Albemarle Times, 5 March 1875"
customdate: "1875 March 5"
order: 4
---

{% include breadcrumbs.html %}

<h3>"Green Tea", <em>Windsor Albemarle Times</em>, 5 March 1875</h3>

<p>
Black tea and green tea come from the same plant, a fact lost on most Europeans and Americans in the nineteenth century. The two varities result from different curing processes. Green tea is the lesser processed of the two as it is only dried for use. Black tea is fermented for 12-18 hours before it is dried.
</p>
<div class="well">
  <label>Text from News Article</label><br/>


<p>
  Green Tea.
</p>
<p>
Read the advertisement of R.W. Askew about Green Tea to be found in another column. We have seen a sample of this Tea and to all appearances it is genuine, it has the right kind of look and smell. We feel sure that there is nothing wrong about it.--
</p>
<p>
It has become so customary to palm off on people bogus goods for genuine, that our people doubt almost everything. But there is no cause to doubt this. Mr. Askew offers the seed very cheap, and after you get one package you can save your own seed. It grows well in your own country. A chance is now offered to every family to make there [their] own tea. Don't fail to sucure [secure] a package.--
</p>
<p>
Price only 25 cents with full instructions.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Green Tea," <em>Windsor Albemarle Times</em> (Windsor, NC), March 5, 1875.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
