---
layout: ecu
title:  "Guano. Guano., Windsor Public Ledger, 3 April 1889"
customdate: "1889 April 3"
order: 6
---

{% include breadcrumbs.html %}

<h3>"Guano. Guano.", <em>Windsor Public Ledger</em>, 3 April 1889</h3>

<p>
Richard W. Askew offered several different varities of guano fertilizer for sale at his store. The varities most likely came from different places and had different agricultural uses.
</p>
<div class="well">
  <label>Image from Advertisement</label><br/>

<a href="../../img/L889d03/3L889d03.jpg">
<img src="../../img/L889d03/7L889d03.jpg">
</a><br/>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Guano. Guano.," <em>Windsor Public Ledger</em> (Windsor, NC), April 3, 1889.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
