---
layout: ecu
title:  "C. W. Askew, To Father [Zephaniah Askew], 8 April 1873"
customdate: "1873 April 8"
order: 1
---

{% include breadcrumbs.html %}

<h3>C. W. Askew, To Father [Zephaniah Askew], 8 April 1873</h3>

<p>
This letter mentions a small seine [fishing net], the possibility of a job at Hopewell Fishery, the plentifulness of fish in the Albemarle Sound and their price at market, and ends commenting about the inclosure of some green tea seeds. Apparently the Askew's not only sold green tea seeds, but wished to pass the seeds on to the rest of the family.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/PLYM/3PLYM001.jpg">
<img src="../../img/PLYM/7PLYM001.jpg">
</a><br/><br/>
<a href="../../img/PLYM/3PLYM002.jpg">
<img src="../../img/PLYM/7PLYM002.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
  Plymouth April 8th 1873
</p>
<p>
  Dear father, yours of 5th<br/>
  is at hand, and I with hast [haste] will ancer [answer]: You speak of a small Sain [Seine] that Col, Wynn is going to fish, I would like to be in the pul [pull] very much, and it may be that I will, though I hav [have] Just receivd [received] a note from the Pla man Pat Winston, offering me a Good Price to take crarg [charge] of Hopewell Fishery, the Season out, and I shal [shall] go over to day [today] (Tuesday) to See him and if we a-gree [agree] I will lay holt [hold] with him the Season, and if I dont [don't] I will cum [come] up their [there] Friday night, to be in that fishing party, that you speak [spoke] of, and if I dont [don't] cum [come] at the time appointed, you ma [may] kno [know] that I am tryin [trying] Hopewell, The Sound seems to be full of fish Just now and the fisherman is takeing [taking] all that they can Save, and fish is getting cheap a bout [about] $2 1/2 per Thousand I hear of them being offerd [offered] green, the little Sains [Seines] on Ronoak [Roanoke] is makein [making] regerly [regularly] from 5 to 10000 at a hawl [haul] so I am inform [informed], as to
</p>
<p>
  [Page 2]
</p>
<p>
  my moveing [moving] up to your place I cannot giv [give] a posittive [positive] ancer [answer] until I hear from Mr. Reddic a bout [about] the Mill I wrote him the popersition [proposition] that you an [and] I though [thought] best, if I get that mill to work I shal [shall] move back to to Hearford [Hertford], if not a Mill I dont [don't] think that I will, I will let you hear from me when I hear from the mill again, In close you will find sum [some] green tea seeds, tel [tell] Ann to plant them in a good place in the garden, and stick slakes [stakes] around to keep the Chickens from them, this leavs [leaves] us all well while I remain your Son
</p>
<p>
  C.W. Askew
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>C. W. Askew to Father [Zephaniah Askew], April 8, 1873, Plymouth, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
