---
layout: ecu
title:  "[Advertisement for Sea Fowl Guano], Windsor Albemarle Times, 5 March 1875"
customdate: "1875 March 5"
order: 5
---

{% include breadcrumbs.html %}

<h3>[Advertisement for Sea Fowl Guano], <em>Windsor Albemarle Times</em>, 5 March 1875</h3>

<p>
Sea Fowl Guano was used by Windsor's farmers as fertilizer. Richard W. Askew took orders for the guano and the BERTIE brought the loads of guano up the Cashie River. Sea Fowl Guano came from seabird excrement mined on islands off the Pacific Coast of Chile and Argentina. During the nineteenth century, a large industry developed around the extraction and shipment of the nitrate-rich guano. Large three and four-masted sailing ships carried the guano around Cape Horn to the United States and Europe. The guano was also refined and used to make explosives and gunpowder.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/SEFO/3SEFO001.jpg">
<img src="../../img/SEFO/7SEFO001.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
  The Celebrated
</p>
<p>
-BD-
</p>
<p>
Sea Fowl
</p>
<p>
GUANO,
</p>
<p>
Stands unrivalled [unrivaled] in price and quality.
</p>
<p>
It’s original standard is guaranteed and
</p>
<p>
PRICES REDUCED.
</p>
<p>
It has proved to be THE FERTILIZER for Corn and Cotton and in comparison to price is undoubtedly the
</p>
<p>
CHEAPEST USED-TRY IT.
</p>
<p>
Enquire of any one who has used it-you will get a satisfactory answer.
</p>
<p>
Testimonials furnished on application.
</p>
<p>
Then send orders and applications forth with to
</p>
<p>
R.W. ASKEW, Agent.
</p>
<p>
Windsor, N.C.
</p>
<p>
Feb’y. 26-6w
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Advertisement for Sea Fowl Guano], <em>Windsor Albemarle Times</em> (Windsor, NC), March 5, 1875.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
