---
layout: ecu
title:  "Green Tea Seeds, Windsor Albemarle Times, 5 March 1875"
customdate: "1875 March 5"
order: 3
---

{% include breadcrumbs.html %}

<h3>"Green Tea Seeds", <em>Windsor Albemarle Times</em>, 5 March 1875</h3>

<p>
In China, the tea growing process was a centuries old tradition. Tea seeds were
collected in October and planted in a basket of damp, sandy soil until March,
when the sprouts were sown in nursery beds. A year later after the spring rains,
the plants were moved into rows with each plant four feet apart. Marketable tea
leaves were picked by hand in the plants third year when it reached its full
height of three to four feet. (John C. Evans, <em>Tea in China: The History of
China's National Drink</em> (New York: Greenwood Press, 1992), 121-122.) People 
buying the Askew's seeds could not have been in a hurry to drink their first
cup of tea.
</p>
<div class="well">
  <label>Text and Image from Advertisement</label><br/>

<a href="../../img/T875c05/3T875c05.jpg">
<img src="../../img/T875c05/7T875c05.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
  NEW ADVERTISEMENTS
</p>
<p>
Green Tea SEEDS!
</p>
<p>
Direct from China and Accessible to All!!
</p>
<p>

THIS IS THE GENUINE "BOHEA" VARIETY.
</p>
<p>

Can be raised as easily as Cotton by every family.
</p>
<p>

WHEN YOU READ THIS, enclose forth-with 25 cents and get by return mail, a PACKAGE with directions for raising and curing, to
</p>
<p>
R. W. ASKEW <br/>
Windsor, N.C.
</p>
<p>
--Specimens of the TEA kept for exhibtion.
</p>
<p>
M'ch 5 3m.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Green Tea Seeds," <em>Windsor Albemarle Times</em> (Windsor, NC), March 5, 1875.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
