---
layout: ecu
title:  "[Advertisement for the Askew Corner Store], Windsor Albemarle Times, 24 July 1874"
customdate: "1874 July 24"
order: 2
---

{% include breadcrumbs.html %}

<h3>[Advertisement for the Askew Corner Store], <em>Windsor Albemarle Times</em>, 24 July 1874</h3>

<p>
The Askew Corner Store provided a stationary presence for the BERTIE. Windsor's citizens would stop by the store to coordinate the shipment of their agricultural produce to market. Individuals would also contact Richard W. Askew to arrange the importation of goods from the large eastern cities up the Cashie River to Windsor.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/WOND/3WOND001.jpg">
<img src="../../img/WOND/7WOND001.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
  WONDERFUL AND TRUE.
</p>
<p>
If you regard your best interest always call at the
</p>
<p>
CORNER STORE,
</p>
<p>
to make your purchases when visiting WINDSOR. A varied assortment of goods is always on hand and can be bought astonishingly low for cash,
</p>
<p>
ALSO
</p>
<p>
ROWLAND’S
</p>
<p>
North Carolina
</p>
<p>
Cotton Gins
</p>
<p>
Are kept on hand and furnished on
</p>
<p>
LIBERAL TERMS.
</p>
<p>
They are guaranteed equal to the best in use. Call and examine.
</p>
<p>
R.W. ASKEW,
</p>
<p>
Windsor, N.C.
</p>
<p>
24 8m.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Advertisement for the Askew Corner Store], <em>Windsor Albemarle Times</em> (Windsor, NC), July 24, 1874.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
