---
layout: ecu
title:  "W. F. Askew, To Father [Zephaniah Askew], 20 [September] 1876"
customdate: "1876 September 20"
order: 8
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Father [Zephaniah Askew], 20 [September] 1876</h3>

<p>
In this letter Wilbur F. Askew recounted the trip made from his father's house back to Windsor. It is the first documented trip of the BERTIE. Wilbur wrote that he stopped at the wood landing for a nap, indicating that the steamer burned wood and not coal. He also mentioned carrying freight for the ELLA, a member of the Albemarle Steam Navigation Company. The excursion to Capehart's he mentioned refered to a large fishery at the mouth of the Roanoke River. Capehart's fishery was so large that it used steam engines to haul in the seine [fish nets].
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/1876/31876001.jpg">
<img src="../../img/1876/71876001.jpg">
</a><br/><br/>
<a href="../../img/1876/31876002.jpg">
<img src="../../img/1876/71876002.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
---- 20 1876
</p>
<p>
Dear Father,
</p>
<p>
I will drop a few lines to-night [tonight] that you may hear from us though I have nothing to write about of any interest. We are all well is the best news I have to communicate at this time. Solie has been a little unwell for the last two or three weeks. he is improving though very fast at this time and he intends to leave for the Centennial Friday week. Jake will leave for school tomorrow the 26th inst. Old Bell has just got back from Edenton with his boat and is going to give us a shake though we do not fear him at all. Mr. Hill came down last night on the "Chowan" to see us and made things rather brighter for us than ever before we now prorate with the Black Water Line and he allows us 1/3 or 33 1/3 per cent on the dollar of every thing [everything]. He told us to go ahead that he would stand by us also told us that we might have
</p>
<p>
[Page 2]
</p>
<p>
going north ---- cut any other boat and if ---- to take it for nothing he would pay us well for carring [carrying] it. I think our prospects are as bright or brighter than ever we are considered now a part of the Black Water Line and "Hill" has promised to stand by us, so we will make it lively for Bell as sure as he is a man. Solie is very anxious for you to go with him to the Centennial the fare has been greately [greatly] redused [reduced]. If you think you will go write at once so as to give him time to make arrangement to meet you. You must be sure to pay us a visit at court. I recon [reckon] I will be home between the 15th and last of October.
</p>
<p>
My love to all.<br/>
Your Son<br/>
W.F. Askew 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], September 20, 1978, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
