---
layout: ecu
title:  "W. F. Askew, To Father [Zephaniah Askew], 29 April 1878"
customdate: "1878 April 29"
order: 11
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Father [Zephaniah Askew], 29 April 1878</h3>

<p>
This is a letter about the 1878 mail contract Wilbur F. Askew secured.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/2WFA/32WFA001.jpg">
<img src="../../img/2WFA/72WFA001.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
Str Chowan<br/>
April 29th 1878
</p>
<p>
Dear Farther<br/>
[Father]I am on my way home from Washington I got out of my trouble with the Inspectors and have managed to get the mail by the 15th of May, however I want this kept a profound secret as I want to take Old Bell by surprise, he has treated me meaner than I thought one human could treat another I will be home about the 27th of May. My love to all, tell Mollie to write I am anxious to hear from home. Your son
</p>
<p>
W.F.A. 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], April 29, 1878, Steamer Chowan, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
