---
layout: ecu
title:  "W. F. Askew, To Father [Zephaniah Askew], 2 July 1879"
customdate: "1879 July 2"
order: 12
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Father [Zephaniah Askew], 2 July 1879</h3>

<p>
This letter is about a July 1879 - July 1880 mail contract Wilbur F. Askew secured.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/CHOW/3CHOW001.jpg">
<img src="../../img/CHOW/7CHOW001.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
OFFICE OF<br/>
Albemarle Steam Navigation Company
</p>
<p>
Str Chowan<br/>
July 2nd 1879
</p>
<p>
Dear Farther
[Father], I have been off for a few days about this mail contract and am glad to state to you that I have succeeded in getting the contract for the balance of the term ending July 1st 1880. I have the papers now in my pocket and will take charge of the mail to-night [tonight] when I get to Plymouth. I guess Old Bell will feel Kind of Billious [Bilious] to morrow [tomorrow] morning when I arrive in Windsor with the mail. I left home last Friday I left all well. Jennie has gone to the mountains she left Norfolk for Richmond this Morning on the Richmond Boat. I will be home inside of or about 3 weeks. My love to all
</p>
<p>
Your Son<br/>
W.F. Askew
</p>
<p>
come down &amp; see us 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], July 2, 1879, Steamer Chowan, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
