---
layout: ecu
title:  "Cashi Steam Navigation Co., Edenton Albemarle Enquirer, 15 July 1886"
customdate: "1886 July 15"
order: 18
---

{% include breadcrumbs.html %}

<h3>"Cashi Steam Navigation Co.", <em>Edenton Albemarle Enquirer</em>, 15 July 1886</h3>

<p>
Wilbur F. Askew was not running the BERTIE at this time. Northbound Windsor passengers aboard the BERTIE connected with the steamer PLYMOUTH at Plymouth. The PLYMOUTH stopped in Edenton before heading up the Chowan River for Franklin, Virginia. The BERTIE's arrival in Plymouth also corresponded with the departure on steamers heading up the Roanoke River. Passengers bound for points in the South took the Roanoke River steamers to Weldon where they boarded the southbound train on the Wilmington and Weldon Railroad.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/CSNC/3CSNC001.jpg">
<img src="../../img/CSNC/7CSNC001.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
CASHI STEAM NAVIGATION CO.
</p>
<p>
Str. BERTIE,
</p>
<p>
Leaves Widdsor [Windsor] daily, except Sundays, at 5 o'clock a. m. arriving at Plymouth at 9:50 a.m., making close connection with the Str. Plymouth for Edenton an connecting with all steamers running to plymouth and up Roanoke River.
</p>
<p>
Leaves Plymouth on arrival of Str, Plymouth from Edenton and arrives at Windsor at 8:30 P.M., same day, carrying U.S. Mail, passengers and freight.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Cashi Steam Navigation Co.", <em>Edenton Albemarle Enquirer</em>, 15 July 1886</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm EdMisc-1</td>
  </tr>
</table>
