---
layout: ecu
title:  "Permanent Enrollment No. 1, 1 January 1886"
customdate: "1886 January 1"
order: 17
---

{% include breadcrumbs.html %}

<h3>Permanent Enrollment No. 1, 1 January 1886</h3>

<p>
Eventhough Wilbur F. Askew no longer held a share of the BERTIE, he was the steamer's acting master.
</p>
<div class="well">
  <label>Text and Image(s) from Form</label><br/>

<a href="../../img/ENR1/3ENR1001.jpg">
<img src="../../img/ENR1/7ENR1001.jpg">
</a><br/><br/>
<a href="../../img/ENR1/3ENR1002.jpg">
<img src="../../img/ENR1/7ENR1002.jpg">
</a><br/><br/>
<a href="../../img/ENR1/3ENR1003.jpg">
<img src="../../img/ENR1/7ENR1003.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
[Page 1]
</p>
<p>
Certificate No.
</p>
<p>
1
</p>
<p>
Official Number.
</p>
<p>
Numerals. Letters.
</p>
<p>
2847 ---
</p>
<p>
THE UNITED STATES OF AMERICA
</p>
<p>
[ship engraving]
</p>
<p>
Catalogue No. 538.
</p>
<p>
Permanent
</p>
<p>
CERTIFICATE OF ENROLLMENT.
</p>
<p>
ENROLLMENT in conformity to Title L, "Regulation of Vessels in Domestic Commerce," of the Revised Statutes of the United States.
</p>
<p>
----------
</p>
<p>
C. T. Hardin of Windsor, Bertie County, N. C. managing owner having taken and subscribed the oath required by law, and having sworn that he, 3/4 owner together with R. C. Bazemore 1/4 owner are citizens of the United States, and sole owners of the ship or vessel called the Bertie, of Edenton NC, whereof W. F. Askew is at present Master, and is a citizen of the United States, and that the said ship or vessel was built at Windsor N. C. in the year 1872 as appears by Permanent Enrollment No 5 issued at Edenton N. C. April 8th 1884 now surrendered on change of Property in part And said Enrollment having certified that the said ship or vessel has two decks and no mast, and that her length is sixty eight 68 4/10 feet, her breadth, Fourteen 14 2/10 feet, her depth, Four 4 6/10 feet, her height, ---- /10 feet, that she measures 57. 98/100 tons gross and 35 and 47/100ths tons viz: net
</p>
<p>
TONS 100THS<br/>
Capacity under tonnage deck 23 48<br/>
Capacity between decks above tonnage deck -- --<br/>
Capacity of inclosures on the upper deck, viz: 34 50<br/>
Gross Tonnage 57 98<br/>
Deductions under Section 4153, Revised Statutes, as amended by Act of August 5, 1882 22 51<br/>
Net Tonnage 35 47
</p>
<p>
That the following described spaces, and no others, have been ommitted, viz: ---- and that she is a Steamer, has a sharp head and a round stern, the said C. T. hardin having agreed to description and measurement above find and sufficient security having been given, according to the said Title, the said SHIP or VESSEL has been duly ENROLLED at the port of Edenton N. C.
</p>
<p>
[seal]
</p>
<p>
Given under my hand and seal, at the Port of Edenton in the District of Albemarle, this 1st day of January, in the year one thousand eight hundred and eighty-six.
</p>
<p>
C. E. Robinson
</p>
<p>
Naval Officer. Collector of Customs.
</p>
<p>
person, with his occupation an place of abode, by whom the oath or affirmation is to be made.
</p>
<p>
insert the words "together with," and the name or names, occupation or occupations, place or places of abode of the owner or owners, and the part or proportion of vessel belonging to each owner.
</p>
<p>
document
</p>
<p>
kind of vessel, whether ship, brigantine, scow, schooner, sloop, or whatever else.
</p>
<p>
Enrollment insert the following: "the said ---- having agreed to the description and measurement above specified, and."
</p>
<p>
(Ed. 5-24-'84 - 15,000) ELECTRO'S
</p>
<p>
[Page 2]
</p>
<p>
INDORSEMENTS [ENDORSEMENTS] OF CHANGE OF MASTER.
</p>
<p>
District of Albemarle, Port of Edenton, N. C., Oct 20th 1888 W. T. Webb having taken the oath required by law, is at present master of the within-named vessel, in lieu of W F Askew, late master. W E Bond of Customs.
</p>
<p>
District of Albemarle, Port of Edenton N. C., May 15th,1889. Isaac Pipkin having taken the oath required by law, is at present master of the within-named vessel, in lieu of W. T. Webb, late master. W. E. Bond, Coll. of Customs.
</p>
<p>
District of Albemarle, Port of Edenton, Dec 6, 1890. C. P. Hardin having taken the oath required by law, is at present master of the within-named vessel, in lieu of Isaac Pipkin, late master. W E Bond Coll. of Customs.
</p>
<p>
District of ----, Port of ----, 18-- ---- having taken the oath required by law, is at present master of the within-named vessel, in lieu of ----, late master. ----- of Customs.
</p>
<p>
District of ----, Port of ----, 18-- ---- having taken the oath required by law, is at present master of the within-named vessel, in lieu of ----, late master. ----- of Customs.
</p>
<p>
District of ----, Port of ----, 18-- ---- having taken the oath required by law, is at present master of the within-named vessel, in lieu of ----, late master. ----- of Customs.
</p>
<p>
[Page 3]
</p>
<p>
(Cat. No. 538.)
</p>
<p>
Official Number 2847
</p>
<p>
CERTIFICATE OF ENROLLMENT
</p>
<p>
No. 1
</p>
<p>
OF THE
</p>
<p>
Steamer
</p>
<p>
CALLED THE
</p>
<p>
"Bertie" of Edenton N. C.
</p>
<p>
35 47/100 Tons.
</p>
<p>
ISSUED AT THE
</p>
<p>
Port of Edenton N. C.
</p>
<p>
District of Albemarle January 1, 1886
</p>
<p>
C. E. Robinson Collector of Customs.
</p>
<p>
DATE OF SURRENDER:
</p>
<p>
Aug 15, 1893
</p>
<p>
WHERE SURRENDERED:
</p>
<p>
Edenton
</p>
<p>
CAUSE OF SURRENDER:
</p>
<p>
Change of owners
</p>
<p>
R R Pendleton Collector of Customs
</p>
<p>
[seal]
</p>
<p>
Port of ----
</p>
<p>
Amount of Hospital money paid at the time of surrender of previous document: $----
</p>
<p>
Period for which collection was made:----
</p>
<p>
Total average number of officers and crew paid for:
</p>
<p>
Date when paid:----, 188-. 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Certificates of Registration and Enrollment Issued at Beaufort, Edenton, Elizabeth City, New Bern, Plymouth, Washington, and Wilmington, NC, 1815-1902," NARA Microfilm Publication M2034, Roll 6, Washington DC.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Uncataloged</td>
  </tr>
</table>
