---
layout: ecu
title:  "Permanent Enrollment No. 2, 26 March 1883"
customdate: "1883 March 26"
order: 14
---

{% include breadcrumbs.html %}

<h3>Permanent Enrollment No. 2, 26 March 1883</h3>

<p>
When Wilbur Askew enlarged the on-deck carrying capacity of the BERTIE, he was required to re-enroll the steamer and update its tonnage.
</p>
<div class="well">
  <label>Text and Image(s) from Form</label><br/>

<a href="../../img/ENR2/3ENR2001.jpg">
<img src="../../img/ENR2/7ENR2001.jpg">
</a><br/><br/>
<a href="../../img/ENR2/3ENR2002.jpg">
<img src="../../img/ENR2/7ENR2002.jpg">
</a><br/><br/>
<a href="../../img/ENR2/3ENR2003.jpg">
<img src="../../img/ENR2/7ENR2003.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
[Page 1]
</p>
<p>
Certificate No. 2
</p>
<p>
Official Number.
</p>
<p>
Numerals. Letters.
</p>
<p>
2847 ---
</p>
<p>
THE UNITED STATES OF AMERICA
</p>
<p>
[ship engraving]
</p>
<p>
Catalogue No. 538.
</p>
<p>
Permanent
</p>
<p>
CERTIFICATE OF ENROLLMENT.
</p>
<p>
ENROLLMENT in conformity to Title L, "Regulation of Vessels in Domestic Commerce," of the Revised Statutes of the United States.
</p>
<p>
----------
</p>
<p>
W. F. Askew Managing owner and Master having taken and subscribed the oath required by law, and having sworn that he is a citizen of the United States, sole owner of the ship or vessel called the Bertie, of Edenton NC, whereof W. F. Askew is at present Master, and as he hath sworn is a citizen of the United States, and that the said ship or vessel was built at Windsor N. Carolina in the year 1872 as appears by Permanent Enrollment No 6 issued at Edenton N. C. Feby [February] 17 1873 -- Now surrendered -- Increased in tonnage by being built upon And said Enrollment having certified that the said ship or vessel has two decks and no mast, and that her length is sixty eight 68 4/10 feet, her breadth, Fourteen 14 2/10 feet, her depth, Four 4 6/10 feet, her height, ---- /10 feet, that she measures Gross 57 and 98/100ths tons, viz:
</p>
<p>
TONS 100THS
<br/>
Capacity under tonnage deck 23 48
<br/>
Capacity between decks above tonnage deck -- --
<br/>
Capacity of inclosures on the upper deck, viz: 34 50
<br/>
Gross 57 98
<br/>
Deductions made under Act Aug. 5 1882 22 51
<br/>
Total Tonnage Net 35 47
</p>
<p>
That the following described spaces, and no others, have been ommitted, viz: ---- and that she is a Steamer, has a sharp head and a Round stern.
</p>
<p>
And the said W. F. Askew having agreed to the description and measurement above specified, and sufficient security having been given, according to the said Title, the said SHIP or VESSEL has been duly ENROLLED at the port of Edenton N. C.
</p>
<p>
[seal]
</p>
<p>
Given under my hand and seal, at the Port of Edenton in the District of Albemarle, this 26th day of March, in the year one thousand eight hundred and Eighty-three. 1883
</p>
<p>
No C. E. Robinson
</p>
<p>
Naval Officer. Collector of Customs.
</p>
<p>
person, with his occupation an place of abode, by whom the oath or affirmation is to be made.
</p>
<p>
insert the words "together with," and the name or names, occupation or occupations, place or places of abode of the owner or owners, and the part or proportion of vessel belonging to each owner.
</p>
<p>
document
</p>
<p>
kind of vessel, whether ship, brigantine, scow, schooner, sloop, or whatever else.
</p>
<p>
(Ed. 2-1-'79 - 10,000)
</p>
<p>
[Page 2]
</p>
<p>
INDORSEMENTS [ENDORSEMENTS] OF CHANGE OF MASTER.
</p>
<p>
District of ----, Port of ----, 18-- ---- having taken the oath required by law, is at present master of the within-named vessel, in lieu of ----, late master. ----- of Customs.
</p>
<p>
District of ----, Port of ----, 18-- ---- having taken the oath required by law, is at present master of the within-named vessel, in lieu of ----, late master. ----- of Customs.
</p>
<p>
District of ----, Port of ----, 18-- ---- having taken the oath required by law, is at present master of the within-named vessel, in lieu of ----, late master. ----- of Customs.
</p>
<p>
District of ----, Port of ----, 18-- ---- having taken the oath required by law, is at present master of the within-named vessel, in lieu of ----, late master. ----- of Customs.
</p>
<p>
District of ----, Port of ----, 18-- ---- having taken the oath required by law, is at present master of the within-named vessel, in lieu of ----, late master. ----- of Customs.
</p>
<p>
District of ----, Port of ----, 18-- ---- having taken the oath required by law, is at present master of the within-named vessel, in lieu of ----, late master. ----- of Customs.
</p>
<p>
[Page 3]
</p>
<p>
(Cat. No. 538.)
</p>
<p>
CERTIFICATE OF ENROLLMENT
</p>
<p>
No. 2
</p>
<p>
OF THE
</p>
<p>
Steamer
</p>
<p>
CALLED THE
</p>
<p>
Bertie
</p>
<p>
57 98 Tons, Gross
</p>
<p>
35.47
</p>
<p>
ISSUED AT THE
</p>
<p>
Port of Edenton NC
</p>
<p>
District of Albemarle 26th March, 1883
</p>
<p>
C. E. Robinson Coll of Customs.
</p>
<p>
DATE OF SURRENDER:
</p>
<p>
8 April 1884
</p>
<p>
WHERE SURRENDERED:
</p>
<p>
Edenton NC
</p>
<p>
CAUSE OF SURRENDER:
</p>
<p>
Change Property
</p>
<p>
C. E. Robinson Collector of Customs
</p>
<p>
[seal]


</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Certificates of Registration and Enrollment Issued at Beaufort, Edenton, Elizabeth City, New Bern, Plymouth, Washington, and Wilmington, NC, 1815-1902," NARA Microfilm Publication M2034, Roll 6, Washington DC.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Uncataloged</td>
  </tr>
</table>
