---
layout: ecu
title:  "W. F. Askew, To Father [Zephaniah Askew], 17 March 1873"
customdate: "1873 March 17"
order: 1
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Father [Zephaniah Askew], 17 March 1873</h3>

<p>
In this letter Wilbur F. Askew recounted the trip made from his father's house back to Windsor. It is the first documented trip of the BERTIE. Wilbur wrote that he stopped at the wood landing for a nap, indicating that the steamer burned wood and not coal. He also mentioned carrying freight for the ELLA, a member of the Albemarle Steam Navigation Company. The excursion to Capehart's he mentioned refered to a large fishery at the mouth of the Roanoke River. Capehart's fishery was so large that it used steam engines to haul in the seine [fish nets].
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/FREI/3FREI001.jpg">
<img src="../../img/FREI/7FREI001.jpg">
</a><br/><br/>
<a href="../../img/FREI/3FREI002.jpg">
<img src="../../img/FREI/7FREI002.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
To:Mr. Z. Askew, Harrellsville, Heartford [Hertford] Co., N. C.
</p>
<p>
Windsor N. C.<br/>
March 17th 1873
</p>
<p>
Dear Father
</p>
<p>
As I haven't written since we ware [were] up I will drop a line that you may here [hear] from us we had a nice trip back on that night though to my supperise [surprise] very rough we stoped [stopped] at our wood landing and got a nap and was in Windsor half passed [past] seven on Monday Morning Dick and Family arrived safe all is quiet in our little Town just at this time. Mr Gregory shows here on Wednesday night Next. We are to have an excursion to the Fisheries on Thursday the 20th Inst I am betting on having a nice time Mr Gorge [George] Gray is going to prepare a dinner. For the party though we expect to visit several other Fisheries, we are crowded at this time with freight Dick had Thirty Tons of Guano last Friday Night in addition to the Ella's freight I expect to have all I can do for the next
</p>
<p>
[Page 2]
</p>
<p>
This Indenture
</p>
<p>
two or three months at least I hope so, The Fish are beginning to come in wright [right] pretty though nothing like they aught [ought] to, I certainly do wish you would pay us a visit this Spring and I will try and Make the time pleasant with you we are going to have an Excursion to Capehearts [Capehart's] some time this spring I cant [can't] tell yet what time we will go I would like to have you along he fishes by steam if you will come write me when you will come I will try and arrange it to have you along
</p>
<p>
I Must close My love to all let us here [hear] from you all when ever convienint [convenient]
</p>
<p>
Your Son<br/>
W. F. Askew
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Father [Zephaniah Askew], March 17, 1873, Windsor, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
