---
layout: ecu
title:  "[Steamer BERTIE Schedule], Windsor Albemarle Times, 4 September 1874"
customdate: "1874 September 4"
order: 3
---

{% include breadcrumbs.html %}

<h3>[Steamer BERTIE Schedule], <em>Windsor Albemarle Times</em>, 4 September 1874</h3>

<p>
The engraving at the top of the advertisement resembles steamers found on the Mississippi River or other Western Rivers. It does not resemble the BERTIE.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/GRAV/3GRAV001.jpg">
<img src="../../img/GRAV/7GRAV001.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
ADVERTISEENMST yyy_[ADVERTISEENMST]_zzz
</p>
<p>
SCHEDULES,
</p>
<p>
[Steamboat Drawing]
</p>
<p>
WINDSOR & PLYMOUTH STEAM ROUTE.}
</p>
<p>
Be it known to the Traveling Public that the New and Elegant Steamer BERTIE, W. F. ASKEW, Captain, Has now taken her position on the CASHIE RIVER and is now running Tri-Weekly between WINDSOR And PLYMOUTH, N.C., Carrying the United States Mail, and connecting promptly with Steamer ELLA at PLYMOUTH every Monday, Wednesday, and Friday.
</p>
<p>
Every arrangement, including State Rooms, is made to make passengers comfortable.
</p>
<p>
All classes and kinds of freight will be transported with promptness and at Lowest Rate either by usual route or Express.
</p>
<p>
SCHEDULE.
</p>
<p>
Leave Windsor at 12 M. Arrives at Plymouth at 4 P.M.
</p>
<p>
Leaves Plymouth at 8 P.M. Arrives at Windsor at 12 P.M.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Steamer BERTIE Schedule], <em>Windsor Albemarle Times</em>, 4 September 1874</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
