---
layout: ecu
title:  "W. F. Askew, To Sister Mollie, 26 December 1877"
customdate: "1877 December 26"
order: 10
---

{% include breadcrumbs.html %}

<h3>W. F. Askew, To Sister Mollie, 26 December 1877</h3>

<p>
The BERTIE did not stop steaming for the holidays. Wilbur F. Askew worked through Christmas carrying freight shipments.
</p>
<div class="well">
  <label>Text and Image(s) from Autographed Letter Signed</label><br/>

<a href="../../img/IREC/3IREC001.jpg">
<img src="../../img/IREC/7IREC001.jpg">
</a><br/><br/>
<a href="../../img/IREC/3IREC002.jpg">
<img src="../../img/IREC/7IREC002.jpg">
</a><br/>
<p><b>Transcription for the images above:</b></p>

<p>
[Page 1]
</p>
<p>
[steamer drawing]
</p>
<p>
Office of Steamer Bertie.
</p>
<p>
Route: Windsor and Plymouth, N. C.
</p>
<p>
Every Monday, Wednesday, and Friday.
</p>
<p>
Windsor, N. C., Dec 26th 1877
</p>
<p>
Dear Sister Mollie
</p>
<p>
I received your letter some time back was glad to hear from you all. I have thought I would answer it every day but have put it off. I have nothing of interest to write about. I am glad to hear that you are all coming down amoung us to live so I can see you all every day or so Solin will be home in a few days he would have gone home Christmas but he had to stay with Dick in the Store. He will go north in about three weeks from now. I have had a dull Christmas I had to work nearly all day yesterday with my freights. I dont [don't] expect to have any fun at all. Our young folks seems [seem] to be injoying [enjoying] themselves very well. Jim Wynns is in his
</p>
<p>
[Page 2]
</p>
<p>
glory. Jim is a right hard case though not as bad as some in our place. Well I have no news at all to write so I will close All the family concern [concerns] are very well. I hope to see you all soon or hear from you. I will write again before long.
</p>
<p>
Your Bro.
</p>
<p>
W. F. Askew
</p>
<p>
[Columns of added numbers] 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>W. F. Askew to Sister Mollie, December 26, 1877, Windsor, NC, Askew Family Papers.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>East Carolina Manuscript Collection, Manuscripts and Rare Books, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>Askew Family Papers, #298.1.b <a href="http://digital.lib.ecu.edu/special/ead/findingaids/0298">View Collection</a></td>
  </tr>
</table>
