---
layout: ecu
title:  "[BERTIE Ran Aground], Windsor Public Ledger, 28 November 1888"
customdate: "1888 November 28"
order: 19
---

{% include breadcrumbs.html %}

<h3>[BERTIE Ran Aground], <em>Windsor Public Ledger</em>, 28 November 1888</h3>

<p>
Vessel groundings were a frequent occurrence on North Carolina's rivers. Shifting sandbars, debris snags, and a lack of channel markers caused the incidents. While grounding could mean a breach in the hull and the loss of a ship, the BERTIE only required the LUCY's help to get out of trouble.
</p>
<div class="well">
  <label>Text and Image(s) from News-Article</label><br/>


<p>
The steamer Bertie ran agpound [aground] Friday night at Jordan's Landing and had to wait until the steamer Lucy came along and pulled her off. She was delayed in her trip here for three hours.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[BERTIE Ran Aground], <em>Windsor Public Ledger</em>, 28 November 1888</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
