---
layout: ecu
title:  "Cashie Steam Navigation Company, Windsor Public Ledger, 6 March 1889"
customdate: "1889 March 6"
order: 20
---

{% include breadcrumbs.html %}

<h3>"Cashie Steam Navigation Company", <em>Windsor Public Ledger</em>, 6 March 1889</h3>

<p>
Wilbur F. Askew returned temporarily to his position as captain of the BERTIE. Richard W. Askew continued to be the BERTIE's agent. Persons with cargo for the BERTIE made shipping arrangements with him.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/L889c06/3L889c06.jpg">
<img src="../../img/L889c06/7L889c06.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
CASHIE STEAM NAVIGATION COMPANY,
</p>
<p>
STEAMER BERTIE,
</p>
<p>
CAPT. W. F. ASKEW.
</p>
<p>
Steamer leaves Windsor 5 a.m. daily except Sunday.
</p>
<p>
Steamer arrives at Plymouth 10 a.m. daily except Sunday.
</p>
<p>
Returning leaves Plymouth on arrival of steamer Plymouth.
</p>
<p>
Connects with all lines running to Plymouth.
</p>
<p>
R.W. ASKEW, Agt. 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Cashie Steam Navigation Company", <em>Windsor Public Ledger</em>, 6 March 1889</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrWL-1</td>
  </tr>
</table>
