---
layout: ecu
title:  "W. C. Kerr, Map of North Carolina, 1882"
customdate: "1882"
order: 13
---

{% include breadcrumbs.html %}

<h3>W. C. Kerr, Map of North Carolina, 1882</h3>

<p>
W. C. Kerr's <em>Map of North Carolina</em> shows the rivers and towns of the Albemarle Sound region. The map was drawn upon with pink highlighter by its previous owner.
</p>
<div class="well">
  <label>Text and Image(s) from Map</label><br/>

<a href="../../img/SMAP/3SMAP001.jpg">
<img src="../../img/SMAP/7SMAP001.jpg">
</a><br/>


</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>Kerr, W. C. <em>Map of North Carolina</em>. North Carolina State Board of Agriculture. 1882.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>North Carolina Collection, Conserved Uncataloged Maps</td>
  </tr>
</table>
