---
layout: ecu
title:  "A Promising Sprout, Windsor Albemarle Times, 4 December 1874"
customdate: "1874 December 4"
order: 7
---

{% include breadcrumbs.html %}

<h3>"A Promising Sprout", <em>Windsor Albemarle Times</em>, 4 December 1874</h3>

<p>
In this news article a young man used the BERTIE as a getaway vehicle after his crime. The newspaper also mentioned an excursion to Plymouth to see the Cashie Phunny Phellows, a traveling entertainment troupe made up of Windsor men.
</p>
<div class="well">
  <label>Text and Image(s) from News-Article</label><br/>


<p>
There is in jail in Windsor, a youngster named Ranse Roulhac, about the color of a ripe pumpkin, whose talent at stealing amounts to a rare gift. He it was who broke into Sheriff Bell's store and stole the money. He is only ten years old and is about the size of a quart jug. It turns out that he stole several bags of corn from Bell and sold them to Fager, while sundry people saw him at it and was by his lying fooled out of their eyesight.Having got Bell's money he left on the Steamer <em>Bertie</em> to attend the circus at Plymouth. Going on down he exhibited his roll of money and that led to his detection.-- When caught and overhauled he confessed the crime and charged that Frank Watson was in it with him. Frank proved an alibi.This little rooster is in jail where he can flap his wings and crow as much as he pleases. He is only a fair sample of our rising colored gentlemen about Windsor.Going to PlymouthOur boys are going down to Plymouth on the 8th of December to give an entertainment. We know that it will be good, and we trust that the good people of Plymouth may turn out to see them. If you want to laugh be sure to see the Phunny Phellows.The steamer Bertie will make a special run for the occasion. Fare for the round trip $1.00.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"A Promising Sprout", <em>Windsor Albemarle Times</em>, 4 December 1874</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
