---
layout: ecu
title:  "The Cashie River, Windsor Albemarle Times, 18 September 1874"
customdate: "1874 September 18"
order: 4
---

{% include breadcrumbs.html %}

<h3>The Cashie River", <em>Windsor Albemarle Times</em>, 18 September 1874</h3>

<p>
North Carolina's small rivers were difficult to navigate as a result of sunken trees and other obstructions. It is understandable that the BERTIE's owners were aggravated by people creating new obstructions in the Cashie River.
</p>
<div class="well">
  <label>Text and Image(s) from News-Article</label><br/>


<p>
The Cashie being a navigable stream is a high way. No one has a right to impede its navigation by cutting trees, limbs etc., so as to block up the river. Certain parties in the last ten days have cut thirteen trees which have fallen in the River.
</p>
<p>
This would be bad enough at any point on the stream, but when it happens in the narrows within eight miles of Windsor it becomes an intolerable nuisance. The owners of the steamer Bertie desire to warn all parties that if this practice is continued they will have the guilty ones dealt with according to law.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"The Cashie River," <em>Windsor Albemarle Times</em> (Windsor, NC), September 18, 1874.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
