---
layout: ecu
title:  "Accidents, Windsor Albemarle Times, 30 October 1874"
customdate: "1874 October 30"
order: 6
---

{% include breadcrumbs.html %}

<h3>"Accidents," <em>Windsor Albemarle Times</em>, 30 October 1874</h3>

<p>
This article mentioned several accidents that occurred around Windsor, including an incident at the wharf involving Edward Solon Askew.
</p>
<div class="well">
  <label>Text and Image(s) from News-Article</label><br/>


<p>
Mr. Jesse Howard got his arm badly cut to pieces by a Gin this week. So badly was he hurt that it is feared his arm will have to be amputated. Mr. Howard is about 65 years old.Madame Roussell came near being drowned in the Roanoke river while attending to the shipment of some Railroad ties last week.Rev. Ed. Wootten was quite badly bruised on a recent visit to Jackson by the attempt of his horse to runaway. He succeeded in holding his horse. E. S. Askew the polite clerk on the Str. Bertie fell of [off] the wharf last Sunday morning and hurt himself very much. We are glad however to be able to announce that friend Solon is on duty now.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Accidents," <em>Windsor Albemarle Times</em>, 30 October 1874</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
