---
layout: ecu
title:  "Sailed, Windsor Albemarle Times, 9 October 1874"
customdate: "1874 October 9"
order: 5
---

{% include breadcrumbs.html %}

<h3>"Sailed," <em>Windsor Albemarle Times</em>, 9 October 1874</h3>

<p>
This newspaper article represents an ordinary trip aboard the BERTIE. The author attempted to make the trip seem epic by using clever language.
</p>
<div class="well">
  <label>Text and Image(s) from News-Article</label><br/>


<p>
The beautiful little steamer <em>Bertie</em>, in command of the polite brothers Askew, left her moorings at our town wharf last Wednesday with an assorted cargo of live stock. Representatives of the Press and of Nations were a conspicuous part of her cargo, while a goodly number of the sinew and effeminate of our town were present to make joyous the voyage to ancient Plymouth. At a landing on the Cashie the number of passengers was increased by a matrimonial suite which greatly added to the pleasure of those theretofore on board -- even to Mountain proportions -- and an auxiliary in the way of a gentleman who was the Sole of the boat and the personification of an officer. 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"Sailed," <em>Windsor Albemarle Times</em>, 9 October 1874</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
