---
layout: ecu
title:  "[Schedules, Windsor and Plymouth Steam Route ], Windsor Albemarle Times, 31 July 1874"
customdate: "1874 July 31"
order: 2
---

{% include breadcrumbs.html %}

<h3>[Schedules, Windsor and Plymouth Steam Route ], <em>Windsor Albemarle Times</em>, 31 July 1874</h3>

<p>
The engraving at the top of the advertisement resembles steamers found on the Mississippi River or other Western Rivers. It does not resemble the BERTIE.
</p>
<div class="well">
  <label>Text and Image(s) from Advertisement</label><br/>

<a href="../../img/T874g31/3T874g31.jpg">
<img src="../../img/T874g31/7T874g31.jpg">
</a><br/>
<p><b>Transcription for the image above:</b></p>

<p>
WINDSOR & PLYMOUTH STEAM ROUTE.
</p>
<p>
Be it known to the Traveling Public that the New and Elegant Steamer BERTIE, W. F. ASKEW, Captain, Has now taken her position on the CASHIE RIVER, and is now running Tri-Weekly between
</p>
<p>
WINDSOR And PLYMOUTH, N.C.,
</p>
<p>
Carrying the United States Mail, and connecting promptly with Steamer ELLA at PLYMOUTH every Monday, Wednesday, and Friday.
</p>
<p>
Every arrangement, including StateRooms, is made to make passengers comfortable.
</p>
<p>
All classes and kinds of freight will be transported with promptness and a Lowest rate either by usual route or Express.
</p>
<p>
SCHEDULE.
</p>
<p>
Leaves Windsor at 12 A.M. Arrives at Plymouth at 4 P.M.
</p>
<p>
Leaves Plymouth at 8 P.M. Arrives at Windsor at 12 P.M. 
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>[Schedules, Windsor and Plymouth Steam Route], <em>Windsor Albemarle Times</em> (Windsor, NC), July 31, 1874.</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
