---
layout: ecu
title:  "To Shippers, Windsor Albemarle Times, 29 September 1876"
customdate: "1876 September 29"
order: 9
---

{% include breadcrumbs.html %}

<h3>"To Shippers", <em>Windsor Albemarle Times</em>, 29 September 1876</h3>

<p>
The Askews recommended that people ship with the Old Bay Line, a long-established line of steamers that transited the Chesapeake Bay. Freight was offloaded at Norfolk and put on the railroad between Norfolk and Franklin, Virginia. At Franklin the Blackwater Line of steamers picked up the freight and steamed down the Blackwater and Chowan Rivers to Plymouth to connect with the BERTIE.
</p>
<div class="well">
  <label>Text and Image(s) from News-Article</label><br/>


<p>
This will notify the people of Windsor and vicinity that the Steamer "Bertie" will no longer connect with the "Peoples or Clyde Line," at Plymouth, N. C. for Windsor, they having refused connection. Hereafter no freight will be forwarded by us either going or coming for that line.Persons wishing their freight transported by Steamer "Bertie" must order them by the Old Bay Line from Baltimore, and S. & R. Railroad from Norfolk or by St. Louisa.For speed, safety and cheapness we advise all persons to patronize the Old Bay Line and Black Water Route, guaranteeing rates cheaper that by any other line.The officers of Str. Bertie having endeavored to merrit [merit] the favor and patronage of the good people for several years past will spare no effort to do the same in the future.E. S. Askew, PurserSept. 28th, 1876.
</p>

</div>

<table class="table">
  <tr>
    <td>Citation:</td>
    <td>"To Shippers", <em>Windsor Albemarle Times</em>, 29 September 1876</td>
  </tr>
  <tr>
    <td>Location:</td>
    <td>North Carolina Collection, Joyner Library, East Carolina University, Greenville, NC 27858 USA</td>
  </tr>
  <tr>
    <td>Call Number:</td>
    <td>NoCar Microfilm WnrMisc-1</td>
  </tr>
</table>
